//Profile
.acc-profile {
  .wrapper {
    padding: 45px 0 115px;

    @extend .tc;
  }
  form {
    max-width: 440px;
    margin: 0 auto;
  }

  //Avatar
  .avatar {
    border-radius: 50%;
    box-shadow: 2px 3px 8px 0 rgba($black,0.25);
    width: 180px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    img {
      width: auto;
      max-width: none;
      height: 100%;

      @extend .centering;
    }
  }

  //Name
  .name {
    @extend .df;
    @extend .jc-center;
    @extend .ai-center;

    input {
      color: $default-color;
      font-size: $f24px;
      font-weight: bold;
      width: 60%;
      margin-right: 10px;

      @extend .tc;
    }
  }

  //Fields
  .fields {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    margin-bottom: 75px;
  }
  .fieldset {
    padding: 15px 20px;

    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;
    @extend .tl;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    .head, input {
      font-size: $f14px;
      font-weight: $medium;
    }
    .head {
      width: 37%;
    }
    input {
      width: 43%;
    }

    //Edit buttons
    .edit-buttons {
      width: 65px;

      @extend .jc-flex-end;
    }

    //No edit
    &.no-edit {
      .edit-buttons {
        opacity: 0;

        @extend .pe-none;
      }
    }
  }

  //Edit buttons
  .edit-buttons {
    max-width: 65px;

    @extend .df;
    @extend .jc-center;
    @extend .ai-center;

    button {
      display: none;
      width: 25px;
      height: 25px;
      transition: all $default-transition;
      opacity: 0;
      margin: 0 5px;

      &.active {
        display: block;
        opacity: 1;
      }
    }
  }

  .avatar,
  .name {
    margin-bottom: 40px;
  }
}

//Order
.acc-orders {
  padding: 50px 0 150px;

  @extend .df-c;
  @extend .jc-center;

  .items {
    @extend .df-c;
    @extend .ai-center;
  }
  .item {
    border: 1px solid $gray;
    border-radius: $default-radius;
    width: 100%;
    max-width: 535px;
    margin-bottom: 20px;

    @extend .df;
    @extend .ai-stretch;

    &:last-child {
      margin-bottom: 60px;
    }
    &.in-active {
      filter: grayscale(100%);
      opacity: 0.4;

      @extend .pe-none;

      .modal-button-holder {
        opacity: 0.6;
      }
    }
  }
  .date {
    border-right: 1px solid $gray;
    color: $primary-color;
    width: 26%;
    padding: 20px;

    @extend .df-c;
    @extend .jc-center;
    @extend .ai-center;

    span:nth-child(1) {
      font-size: $f30px;
      font-weight: $bold;
    }
    .day {
      font-size: $f14px;
    }
  }
  .info {
    width: 60%;
    padding: 20px 25px;

    h2 {
      font-size: $f18px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: $f14px;
      font-weight: $regular;
    }
  }
  .modal-button-holder {
    width: 14%;

    @extend .df;
    @extend .jc-center;
    @extend .ai-center;
  }
}

//Favorite
.acc-favorite {
  margin-bottom: 50px;
}

//Notifications
.acc-notifications {
  padding: 50px 0 150px;

  .items {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    max-width: 650px;
    margin: 0 auto;
  }
  .item {
    font-size: $f14px;
    padding: 35px 20px;

    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    //Head
    .head {
      width: 20%;
      margin-right: 2%;

      & > span {
        font-weight: $medium;

        @extend .db;
      }
    }
    //Info
    .info {
      width: 65%;
    }

    //Icon
    div.link-icon {
      transition: all $default-transition;

      &:hover {
        background: $primary-color;
      }
    }

    //Important
    &.important {
      background: rgba($primary-color, 0.05);
    }
  }
}

//Responsive | Profile
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-zero-max} ) {
  .acc-profile {
    .name input {
      font-size: $f16px;
    }
  }
}
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-sm-max} ) {
  .acc-profile {
    .wrapper {
      padding: 0 0 60px;
    }
    .fields {
      margin-bottom: 35px;
    }
  }
}

//Responsive | Order | Notifications
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-zero-max} ) {
  .acc-orders,
  .acc-notifications {
    padding: 0 0 50px;

    .items {
      max-width: 400px;
    }
    .item {
      flex-wrap: wrap;
      padding: 25px;
      position: relative;

      .head {
        width: 80%;
        margin-bottom: 15px;
      }
      a.link-icon,
      div.link-icon {
        position: absolute;
        top: -5px;
        right: -5px;
      }
    }
  }

  //Order
  .acc-orders {
    .item {
      .date,
      .info {
        width: 100%;
        padding: 0;
      }
    }
    .date {
      border: none;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 15px;
    }
    .day {
      font-weight: $medium;
      margin-left: 10px;
    }
  }

  //Notifications
  .acc-notifications {
    .item {
      .info {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-sm-max} ) {
  .acc-orders,
  .acc-notifications {
    padding: 25px 0 85px;

    .items {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
    }
  }
}