.gallery-in {
  .container {
    @extend .df-c;
    @extend .jc-center;

    & > a.link,
    & > button.link {
      margin-bottom: 80px;
    }
  }
  #lightgallery {
    margin-bottom: 50px;

    @extend .df;
    @extend .df-wrap;

    & > a {
      border-radius: $default-radius;
      width: 32%;
      min-height: 255px;
      margin-bottom: 30px;
      overflow: hidden;
      position: relative;

      &:before, &:after {
        content: '';
        display: block;
        transition: opacity $default-transition;
        opacity: 0;

        @extend .centering;
        @extend .pe-none;
      }
      &:before {
        background: rgba($primary-color, 0.85);
        width: 100%;
        height: 100%;

        z-index: 1;
      }
      &:after {
        background: url("../icons/visibility.svg") no-repeat center;
        background-size: contain;
        fill: $white;
        width: 40px;
        height: 40px;

        z-index: 2;
      }
      &:hover {
        &:before, &:after {
          opacity: 1;
        }
      }

      & > img {
        height: 100%;
        width: auto;
        max-width: none;

        @extend .centering;
      }

      @extend .db;

      &:not(:nth-child(3n)) {
        margin-right: 2%;
      }
    }
  }
}

//Gallery setup
.lg-backdrop {
  background: rgba($black, 0.85);
}
.lg-sub-html,
.lg-toolbar {
  background: no-repeat;
}
.lg-outer .lg-img-wrap {
  max-width: 75vw;
  margin: 0 auto;
}
.lg-actions .lg-prev {
  left: 9vw;

  &:after {
    background: url("../icons/left-angle.svg") no-repeat center;
  }
}
.lg-actions .lg-next {
  right: 9vw;

  &:before {
    background: url("../icons/right-angle.svg") no-repeat center;
  }
}
.lg-actions .lg-prev,
.lg-actions .lg-next {
  background: none;
  width: 45px;
  height: 45px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    content: '';
    display: block;
    background-size: contain;
    fill: $white;
    width: inherit;
    height: inherit;

    @extend .centering
  }
}
.lg-toolbar .lg-icon,
.lg-toolbar #lg-share {
  position: fixed;
}
.lg-toolbar .lg-close {
  font-size: 35px;
  width: 60px;
  height: 60px;

  top: 4.5vw;
  right: 8.5vw;
}
.lg-toolbar #lg-share {
  padding: 0;
  transform: translateX(-50%);

  bottom: 40px;
  left: 46%;

  &:after {
    @extend .centering;
  }
}
.lg-outer .lg-dropdown {
  background: none;
  border: none;
  padding: 0;
  margin-left: 25px;
  height: 50px;

  top: 0;
  left: 100%;
  right: auto;

  opacity: 1;
  visibility: visible;

  @extend .df;

  &:after {
    display: none;
  }
  .lg-dropdown-text {
    display: none;
  }
  li {
    width: 40px;
    height: 40px;
    position: relative;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  a {
    background: $secondary-color;
    box-shadow: 2px 3px 8px 0 rgba(0,0,0,0.25);
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    transition: all $default-transition;

    @extend .link-block;
    @extend .centering;

    &:hover {
      background: $primary-color;
    }
  }
  .lg-icon {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

    &:before, &:after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      transition: all $default-transition;

      @extend .centering;
    }
  }
}

//FB
.lg-outer #lg-share-facebook .lg-icon:after {
  content: '';
  background: url("../icons/soc-fb.svg") no-repeat center;
}
.lg-outer #lg-share-twitter .lg-icon:after {
  content: '';
  background: url("../icons/soc-twit.svg") no-repeat center;
}
.lg-outer #lg-share-facebook .lg-icon:after,
.lg-outer #lg-share-twitter .lg-icon:after {
  background-size: contain;
  fill: $white;

  width: 50%;
  height: 50%;
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .gallery-in {
    margin-top: 50px;

    #lightgallery {
      & > a {
        width: 100%;
        max-width: 375px;
        margin: 0 auto 35px;

        &:not(:nth-child(3n)) {
          margin-right: auto;
        }
      }
    }
  }

  .lg-toolbar #lg-share {
    left: 28%;
  }
  .lg-toolbar .lg-close {
    top: 1.5vw;
    right: 1.5vw;
  }
  .lg-actions .lg-prev {
    left: 1vw;
  }
  .lg-actions .lg-next {
    right: 1vw;
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-md-max} ) {
  .gallery-in {

  }
}