//Links
// --- Default
a.link,
button.link {
  border: 2px solid $primary-color;
  border-radius: $default-radius;
  box-shadow: 0 5px 40px -15px rgba($black, 0.5);
  color: $white;
  font-size: $f16px;
  padding: 15px 50px;
  margin: 0 auto;
  white-space: nowrap;
  transition: all $default-transition;

  @extend .dib;
  @extend .up;

  &:hover {
    background: $primary-color;
  }
  &:focus {
    box-shadow: none;
  }

  // --- Media size (be careful)
  &.medium {
    font-size: $f16px;
    line-height: 42px;
    padding: 0;
    width: 100%;
    max-width: 200px;

    @extend .tc;
  }
}
// --- Inverse
a.link-inverse,
button.link-inverse {
  background: $primary-color;

  &:hover {
    background: lighten( $primary-color, 5% );
    border-color: lighten( $primary-color, 5% );
  }
}
// --- Secondary color
a.link-inverse-s,
button.link-inverse-s {
  background: $secondary-color;
  border-color: $secondary-color;

  &:hover {
    background: lighten( $secondary-color, 5% );
    border-color: lighten( $secondary-color, 5% );
  }
}
// --- Icon
a.link-icon,
button.link-icon,
div.link-icon {
  background: $primary-color;
  border-radius: 50%;
  box-shadow: 2px 3px 8px 0 rgba($black ,0.25);
  width: 42px;
  height: 42px;
  position: relative;

  &:hover {
    background: $white;
  }
  svg {
    width: 55%;

    @extend .centering;
  }

  //In-active
  &.in-active {
    background: $light-gray;

    @extend .pe-none;
  }
}

a.link-icon-s,
button.link-icon-s,
div.link-icon-s {
  background: $secondary-color;
}

// --- Remove
a.product-remove,
button.product-remove {
  svg {
    width: 35%;
  }
}

//Tag button
.tag-button {
  width: 75px;
  height: 30px;

  position: relative;

  &.active {
    .svg-tag-in {
      opacity: 0;
    }
    .svg-tag-a {
      opacity: 1;
    }

    //Label
    .label {
      color: $white;
    }
  }

  .svg-tag {
    width: 100%;

    @extend .centering;
  }
  .svg-tag-in {
    opacity: 1;
  }
  .svg-tag-a {
    opacity: 0;
  }

  //Label
  .label {
    font-size: $f12px;
    font-weight: bold;
    transform: translateY(-50%);
    transition: color $default-transition;

    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10px;
  }

  //Hover
  /*&:hover {
    .label {
      color: $white;
    }
  }*/
}

//Back to top
.cd-top {
  background: $primary-color;
  border-radius: 50%;
  box-shadow: 2px 3px 8px 0 rgba($black ,0.25);
  height: 45px;
  width: 45px;

  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;

  z-index: 9999;
  position: fixed;
  bottom: 5%;
  right: 2%;

  @extend .db;

  svg {
    height: 50%;
    width: 50%;

    @extend .centering;
    @extend .backspace;
  }
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  opacity: .5;

  &:hover {
    opacity: 1;
  }
}
.no-touch .cd-top:hover {
  background-color: $primary-color;
  opacity: 1;
}

//Responsive - Links
@media screen and (min-width: 0) and (max-width: #{$screen-sm-max} ) {
  // --- Default
  a.link,
  button.link {
    font-size: $f16px;
    padding: 12px 60px;
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {

}

//Responsive - Back to top
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .cd-top {
    width: 35px;
    height: 35px;

    bottom: 2.5%;
    right: 5%;
  }
}
