//Default
.default-dropdown {
  color: $default-color;
  font-size: $f14px;
  font-weight: $regular;
  width: 100%;
  max-width: 210px;

  &:not(:last-child) {
    margin-right: 25px;
  }
  .c-dropdown {
    z-index: 2;
    position: relative;

    &, & * {
      width: 100%;
    }
  }
  .js-dropdown_current,
  .c-dropdown_item {
    transition: background $default-transition, color $default-transition;

    &:hover {
      color: $primary-color;
    }
  }
  .c-dropdown_list {
    background: $white;
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    margin-top: 5px;
    transition: opacity $default-transition, transform $default-transition;
    will-change: transofrm;
    transform: translateY(10px);
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;

    @extend .pe-none;
  }
  .c-dropdown.is-open .c-dropdown_list {
    transform: translateY(0);
    opacity: 1;

    @extend .pe-auto;
  }
  .c-button,
  .c-dropdown_item {
    cursor: pointer;
  }
  .c-button-dropdown {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    color: rgba($default-color, 0.6);
    padding: 10px;

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: rgba($default-color, 0.6) transparent transparent transparent;
      transition: border-color $default-transition;
      transform: translateY(-50%);

      position: absolute;
      top: 50%;
      right: 10px;

      @extend .db;
      @extend .backspace;
    }
    &:hover:after {
      border-color: $primary-color transparent transparent transparent;
    }
  }
  .c-dropdown_item {
    border-bottom: 1px solid $light-gray;
    padding: 10px;

    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      color: $white;
      background: $primary-color;
    }
  }

  @extend .tl;
}

//Form dropdown
.default-dropdown.form-dropdown {
  font-size: $f16px;
  max-width: none;
  margin-right: 0;

  .c-button-dropdown {
    color: $default-color;
    font-size: $f16px;
    font-weight: $medium;
    line-height: 1.15;
    padding: 15px 0;

    @extend .tc;
  }
  .c-dropdown_list {
    background: lighten($light-gray, 5%);
    flex-wrap: wrap;
    padding: 15px;
    height: auto;

    li {
      @extend .jc-center;
      @extend .tc;

      &:not(:last-child) {
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

//Responsive - Default dropdown
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .default-dropdown {

  }
}