form {
  position: relative;

  .alerts {
    width: 50px;
    height: 50px;

    position: absolute;
    bottom: 30px;
    right: 30px;

    svg {
      width: 75%;
      transition: all $default-transition;
      opacity: 0;

      @extend .centering;

      &.active {
        opacity: 1;
      }
    }
  }
}

//Feedback
.feedback-default {
  border: 1px solid $light-gray;
  border-radius: $default-radius;
  max-width: 570px;
  margin: 0 auto;
  padding: 30px;

  @extend .tc;

  h4 {
    font-size: $f18px;
    font-weight: $medium;
    margin-bottom: 20px;

    @extend .tl;
  }
  .fieldset {
    margin-bottom: 30px;
  }
  .items {
    @extend .df;
    @extend .jc-space-between;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  input, textarea {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    font-size: $f14px;
    padding: 15px;
  }
  input {
    width: 48%;
  }
  textarea {
    width: 100%;
    height: 165px;
    resize: none;
  }

  //Placeholder
  ::-webkit-input-placeholder {color:$dark-gray;}
  ::-moz-placeholder          {color:$dark-gray;}
  :-moz-placeholder           {color:$dark-gray;}
  :-ms-input-placeholder      {color:$dark-gray;}
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-zero-max} ) {
  form {
    .alerts {
      width: 30px;
      height: 30px;

      bottom: 27px;
      right: 4px;
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-xs-max} ) {
  form {
    .alerts {
      bottom: 20px;
    }
  }
}

//Feedback
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .feedback-default {
    max-width: 475px;
    padding: 20px;

    .fieldset {
      margin-bottom: 20px;
    }
    .items {
      flex-wrap: wrap;
    }
    input {
      width: 100%;

      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
}