//Alerts | Disabled
input,
textarea {
  //Success
  &.success {
    border-color: $success !important;
  }

  //Error
  &.error {
    border-color: $error !important;
  }

  //Disabled
  &:disabled {
    cursor: auto;
  }
}

//Placeholder color
::-webkit-input-placeholder {color:$medium-gray;}
::-moz-placeholder          {color:$medium-gray;}
:-moz-placeholder           {color:$medium-gray;}
:-ms-input-placeholder      {color:$medium-gray;}

//Input auto fill color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0.01) inset;
  box-shadow: 0 0 0 1000px rgba(255,255,255,0.01) inset;
  transition: background-color 5000s ease-in-out 0s;
}

//Remove placeholder after click
input:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-moz-placeholder           {color:transparent;}
input:focus::-moz-placeholder          {color:transparent;}
input:focus:-ms-input-placeholder      {color:transparent;}

//Replace default radio button icon
/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label,
label + [type="radio"]:not(:checked),
label + [type="radio"]:checked{
  cursor: pointer;
  padding-right: 40px;
  position: relative;
}
/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  transition: all 0.075s ease-in-out;

  position: absolute;
  top: 50%;
  right: 0;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  background: url('../icons/radio.svg') no-repeat center center;
  background-size: contain;
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '';
  background: url('../icons/radio-a.svg') no-repeat center center;
  background-size: contain;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
[type="radio"]:checked + label:after {
  opacity: 1;
}