.modal {
  display: none;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $default-radius;
  padding: 0;
  max-height: 70%;
  width: 90%;
  max-width: 575px;
  margin: auto;
  overflow-y: auto;
  will-change: top, opacity;

  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;

  .modal-close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: opacity $default-transition;

    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      opacity: 0.75;
    }
    .svg-remove {
      fill: $default-color;
    }
  }
  .modal-content {
    padding: 30px;
  }
  form {
    position: static;

    @extend .tc;
  }
  h4 {
    font-size: $f18px;
    font-weight: $medium;
    margin-bottom: 20px;

    @extend .tl;
  }
  .fieldset {
    margin-bottom: 30px;
  }
  .items {
    @extend .df;
    @extend .jc-space-between;
  }
  input, textarea {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    font-size: $f14px;
    padding: 15px;
  }
  input {
    width: 48%;
  }
  textarea {
    width: 100%;
    height: 165px;
    resize: none;
  }

  //Placeholder
  ::-webkit-input-placeholder {color:$gray;}
  ::-moz-placeholder          {color:$gray;}
  :-moz-placeholder           {color:$gray;}
  :-ms-input-placeholder      {color:$gray;}
}

//Overlay
.modal-overlay {
  display: none;
  background: $black;
  height: 125%;
  width: 100%;
  will-change: opacity;

  z-index: 999;
  position: fixed;
  top: -25%;
  left: 0;
  right: 0;
  bottom: 0;
}

//Speaker modal
.speaker-modal {
  max-width: 385px;
  max-height: none;

  .modal-content {
    padding: 40px;
  }
  .media-head {
    margin-bottom: 25px;

    @extend .df;
    @extend .ai-center;
  }
  .social-link {
    width: 25%;

    @extend .df;
    @extend .jc-center;

    a {
      display: block;
    }
  }
  .avatar {
    width: 50%;

    img {
      margin: 0 auto;
      max-width: 130px;

      @extend .db;
    }
  }
  .info {
    @extend .tc;
  }
  h4, p {
    margin-bottom: 20px;
  }
  h3 {
    font-size: $f18px;
    font-weight: $medium;
    margin-bottom: 10px;
  }
  h4 {
    font-size: $f16px;
    font-weight: $medium;

    @extend .tc;
  }
  p {
    font-size: $f14px;
    line-height: 1.15;

    @extend .tl;
  }
}

//Tickets
.modal-tickets-details {
  .modal-close {
    width: 25px;
    height: 25px;

    top: 10px;
    right: 10px;
  }


  .modal-content {
    padding: 45px;

    @extend .df;
    @extend .jc-space-between;
  }
  .left {
    width: 65%;

    @extend .df-c;
    @extend .jc-space-between;
  }
  .right {
    width: 30%;

    .logo {
      height: 35px;
      width: auto;
    }
    .logo, .qr-code {
      margin-bottom: 40px;
    }
    svg, img {
      width: 100%;
      max-width: none;
    }

  }
  .ticket-order-number {
    font-size: $f30px;
    font-weight: $medium;
    text-align: center;
  }

  //Left info
  .main-info {
    @extend .df;
  }
  .date {
    color: $primary-color;
    font-weight: $bold;
    width: 28%;
    margin-right: 7%;

    @extend .df-c;
    @extend .jc-center;
    @extend .ai-center;

    span:not(.month) {
      font-size: $f40px;
    }
    .month {
      border-bottom: 1px solid $dark-gray;
      font-size: $f20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .day {
      margin-bottom: 10px;
    }
  }
  .name {
    width: 65%;

    h2 {
      font-size: $f30px;
      margin-bottom: 15px;
    }
    h4 {
      font-size: $f16px;
      font-weight: $light;
    }
  }
  .details {
    border-top: 1px solid $dark-gray;
    padding-top: 30px;
    margin-top: 30px;

    @extend .df;
    @extend .jc-space-between;

    & > div {
      width: 30%;
    }
    h5 {
      font-size: $f16px;
      margin-bottom: 10px;
    }
    p {
      font-weight: $light;
      line-height: 1.15;
    }
  }

  //Control panel
  .tickets-control-panel {
    @extend .df-c;

    position: absolute;
    right: -65px;
    top: 0;

    a:first-child,
    button:first-child {
      margin-bottom: 20px;
    }
  }

  //Overflow
  &.modal {
    max-width: 900px;
    overflow-y: visible;
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .modal {
    max-width: 475px;

    .modal-content {
      padding: 20px;
    }
    .fieldset {
      margin-bottom: 20px;
    }
    .items {
      flex-wrap: wrap;
    }
    input {
      width: 100%;

      &:first-child {
        margin-bottom: 15px;
      }
    }
  }

  //Tickets
  .modal-tickets-details {
    .modal-content {
      flex-wrap: wrap;
    }
    .left, .right {
      width: 100%;
    }
    .left {
      margin: 65px auto 20px;
    }
    .right {
      margin: 0 auto;
      max-width: 250px;
    }
    .main-info {
      flex-wrap: wrap;

      .date, .name {
        width: 100%;
        margin: 0 auto 25px;
      }
      .date {
        flex-direction: row;

        span:not(.month),
        .month {
          border: none;
          font-size: $f16px;
          margin: 0;
          padding: 0;
        }
        .month {
          margin: 0 5px;
        }
      }
      .name {
        h2 {
          font-size: $f24px;
          margin-bottom: 10px;
        }
        h4 {
          margin: 0;
        }
      }
    }
    .details {
      border-bottom: 1px solid $dark-gray;
      flex-direction: column;
      padding-bottom: 30px;
      margin: 15px 0 30px;

      & > div {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }


    //Tickets panel
    .tickets-control-panel {
      flex-direction: row;
      transform: translateX(-50%);

      top: 15px;
      left: 50%;
      right: auto;

      a:first-child {
        margin: 0 25px 0 0;
      }
    }

    &.modal {
      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: $default-radius;
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar {
        background: $light-gray;
        width: 5px;
        height: 5px;
      }
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-zero-max} ) {
  .speaker-modal {
    .modal-close {
      top: 10px;
      right: 10px;
    }
    a.link {
      padding: 12px 35px;
    }
    .avatar img {
      max-width: 100px;
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  //Tickets
  .modal-tickets-details {
    width: 75%;

    .modal-content {
      flex-wrap: wrap;
      padding: 50px 30px 30px;
    }
    .left, .right {
      width: 100%;
    }
    .left {
      margin-bottom: 50px;
    }
    .right {
      display: flex;
      align-items: center;

      .logo {
        display: none;
      }
      .qr-code {
        max-width: 250px;
        margin: 0 40px 0 0;
      }
    }

    &.modal {
      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: $default-radius;
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar {
        background: $light-gray;
        width: 5px;
        height: 5px;
      }
    }
  }
}