.pagination {
  width: 100%;

  @extend .df;
  @extend .jc-flex-end;

  .pagination-wrapper {
    width: 100%;
    max-width: 315px;

    @extend .df;
    @extend .jc-flex-end;
  }
  .pagination-controls,
  .pagination-items {
    background: none;
    border: 2px solid $light-gray;
    border-radius: $default-radius;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: border-color $default-transition;
    position: relative;
    margin: 0 7px;

    svg, span {
      @extend .centering;
    }
    svg {
      width: 85%;
      height: 85%;

      &.svg-angle {
        fill: $dark-gray;
      }
    }
    span {
      color: $default-color;
      font-weight: $medium;
      transition: color $default-transition;
    }
    &:hover {
      border-color: $secondary-color;

      span {
        color: $secondary-color;
      }
    }

    //Active item
    &.active {
      background: $secondary-color;
      border-color: $secondary-color;
      box-shadow: 2px 2px 11px 0 rgba($black,0.25);

      span {
        color: $white;
      }
    }
  }
}

//Section
.pagination-section {
  margin: 35px 0 85px;

  .pagination {
    @extend .jc-center;
  }
}

@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-sm-max} ) {
  .pagination {
    justify-content: flex-start;
  }
}
