.slider {
  height: 100%;
  max-height: 600px;

  .swiper-container {
    height: 100%;
  }

  //Pagination
  .swiper-pagination {
    bottom: 45px;
    left: 0;
    right: 0;

    .swiper-pagination-bullet {
      background: $white;
      width: 13px;
      height: 13px;
      margin: 0 10px;
      opacity: 1;
      transition: all $default-transition;

      &:not(.swiper-pagination-bullet-active):hover {
        background: lighten( $secondary-color, 10% );
      }
    }
    .swiper-pagination-bullet-active {
      background: $secondary-color;
    }
  }

  //Slides
  .swiper-slide {
    color: $white;

    &:before {
      content: '';
      display: block;
      background: rgba($black, 0.55);
      width: 100%;
      height: 100%;

      z-index: 0;

      @extend .centering;
      @extend .pe-none;
    }
    img {
      width: 100%;
      max-width: none;
      z-index: -1;

      @extend .centering;
    }
    .container {
      @extend .df-c;
      @extend .jc-center;
      @extend .tc;
    }
    h2 {
      display: inline;
      margin: 50px auto 25px;

      /*@extend .df;
      @extend .ai-center;*/
    }
    p {
      font-size: $f14px;
      line-height: 1.5;
      max-width: 70%;
      margin: 0 auto 45px;
    }
    .effect {
      width: 25px;
      height: 25px;
      margin: 13px 15px 0 0;

      position: relative;

      @extend .dib;

      &:before, &:after {
        content: '';
        display: block;
        border-radius: 50%;

        @extend .centering;
      }
      &:before {
        background: $secondary-color;
        width: 12px;
        height: 12px;
      }
      &:after {
        border: 2px solid $secondary-color;
        width: 25px;
        height: 25px;
        will-change: transform;
        transition: all $default-transition;
        animation: effect 1.25s ease-in-out 0s infinite;
      }
    }
  }
}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .slider {
    height: 80vh;

    //Pagination
    .swiper-pagination {
      bottom: 25px;
    }

    //Slides
    .swiper-slide {
      overflow: hidden;

      .container {
        max-width: 600px;
      }
      h2 {
        font-size: $f30px;
        margin-top: 25px;
        position: relative;

        .effect {
          transform: translate(-50%, -50%);

          position: absolute;
          left: 50%;
          top: -75%;
        }
      }
      p {
        font-size: $f14px;
        max-width: none;
        margin-bottom: 35px;
      }
    }
  }
}
@media screen and (min-width: 0) and (max-width: #{$screen-sm-max} ) {
  .slider {
    .swiper-slide {
      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
  }
}