//Tab header
.tab-header {
  margin-bottom: 50px;
  position: relative;

  .container {
    //max-width: 960px;
  }
  &:after {
    content: '';
    display: block;
    background: $light-gray;
    width: 100%;
    height: 1px;

    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

//Tabs
.tabs {
  overflow-x: auto;
  overflow-y: hidden;
  height: 56px;
  position: relative;

  @extend .df;
  @extend .jc-space-between;
  @extend .ai-center;

  li, a {
    height: inherit;
  }
  li {
    width: 33%;
  }
  .tab {
    a {
      font-size: $f18px;
      color: $default-color;
      font-weight: $medium;
      padding: 0 15px;
      transition: color $default-transition;

      @extend .df;
      @extend .ai-center;
      @extend .jc-center;
      @extend .nw;
      @extend .up;

      &:hover,
      &.active {
        color: $secondary-color;
      }
    }

    &.disabled a,
    &.disabled a:hover {
      color: $light-gray;
      cursor: default;
    }
  }
  .indicator {
    background-color: $secondary-color;
    height: 1px;
    max-width: 140px;
    margin: 0 auto;
    will-change: left, right;

    position: absolute;
    bottom: 0;
  }
}

//Tabs after Header
.header + .account {
  .tab-header {
    .container {
      max-width: 750px;
    }
  }
  .tabs {
    .tab {
      a {
        font-size: $f14px;
      }
    }
  }
}

  //Tabs content
.tabs-content {
  width: 100%;
  overflow: hidden;
  position: relative;

  .tab-content {
    display: none;
    min-height: 1px;
    width: 100%;
    height: 100%;
    margin-left: auto;

    position: absolute;
    top: 0;
    left: auto;
    right: auto;

    @extend .fl;
  }
}

// Fixed sideNav hide on smaller
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .tab-header {
    .container {
      padding-right: 0;
    }
  }
  .tabs {
    display: flex;

    .tab {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      a {
        font-size: $f14px;
        padding: 0 12px;
      }
    }
    li {
      width: auto;
    }
    .indicator {
      max-width: none;
      margin: 0;
    }
  }
}
