<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta name="robots" content="noindex, nofollow" />

  <title><?php echo $title;  ?></title>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- Secondary styles -->
  <link rel="stylesheet" href="catalog/view/theme/default/stylesheet/secondary_style.css">
  <!-- Favicon -->
  <link rel="icon" href="<?php echo DIR_FRONT ?>icons/favicon-events.ico" type="images/x-icon" />
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&amp;subset=cyrillic-ext" rel="stylesheet">
  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" />
  <!-- ReModal -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.0/remodal-default-theme.min.css">
  <!-- LightGallery -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.2/css/lightgallery.min.css" />
  <!-- Main -->


  <link rel="stylesheet" href="<?php echo DIR_FRONT . 'css/style.css';?>">

  <base href="<?php echo $base; ?>" />
  <?php if ($description) { ?>
  <meta name="description" content="<?php echo $description; ?>" />
  <?php } ?>
  <?php if ($keywords) { ?>
  <meta name="keywords" content= "<?php echo $keywords; ?>" />
  <?php } ?>
  <meta property="og:title" content="<?php echo $title; ?>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<?php echo $og_url; ?>" />
  <?php if ($og_image) { ?>
  <meta property="og:image" content="<?php echo $og_image; ?>" />
  <?php } else { ?>
    <meta property="og:image" content="<?php echo $logo; ?>" />
  <?php } ?>
    <meta property="og:site_name" content="<?php echo $name; ?>" />
  <?php foreach ($styles as $style) { ?>
    <link href="<?php echo $style['href']; ?>" type="text/css" rel="<?php echo $style['rel']; ?>" media="<?php echo $style['media']; ?>" />
  <?php } ?>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <?php foreach ($links as $link) { ?>
    <link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
  <?php } ?>
  <?php foreach ($scripts as $script) { ?>
    <script src="<?php echo $script; ?>" type="text/javascript"></script>
  <?php } ?>
  <?php foreach ($analytics as $analytic) { ?>
    <?php echo $analytic; ?>
  <?php } ?>

</head>
<body>

<svg class="svg-sprite">
  <defs>

    <!-- Logo -->
    <symbol id="svg-logo" viewBox="0 0 808 65.7">
      <path d="M84.86,33.63H74.44V.27H.09V39.6A25.84,25.84,0,0,0,25.93,65.43H133.37A25.84,25.84,0,0,0,159.21,39.6V.27H84.86Z"></path>
      <polygon points="648.1 0.06 648.1 21.75 675.52 21.75 675.52 65.7 780.19 65.7 780.19 21.75 808 21.75 808 0.06 648.1 0.06"></polygon>
      <polygon points="271.61 16.35 248.22 0.06 167.91 0.06 167.91 65.65 243.18 65.65 243.18 49.99 265.66 65.65 347.31 65.65 347.31 0.06 271.61 0.06 271.61 16.35"></polygon>
      <path d="M356,65.67H640V0H356Zm224.15-25H594.9a2.92,2.92,0,0,0,2,3.19,7.36,7.36,0,0,0,2.24.34c1.51,0,3.15-.35,3.12-2.14,0-1.37-1.29-2.07-2.47-2.37a36.06,36.06,0,0,0-5-.7c-8.78-1-11.29-4.63-11.29-4.63-2.51-2-2.59-9-2.59-9,1.17-14.4,17.73-13.54,17.73-13.54s8.09-.22,12.58,3.37S616,25.55,616,25.55H601.6a7.87,7.87,0,0,0-.37-1.43,2.7,2.7,0,0,0-1-1.21c-1.31-.8-4.45-.56-4.63,1.38-.25,2.73,4.26,2.84,5.94,3a28.77,28.77,0,0,1,10,2.52c3.88,1.87,5.65,6,5.65,10.17A13.68,13.68,0,0,1,611.9,51.2C609.3,53.4,604.72,55,599.18,55a39.65,39.65,0,0,1-10.51-1.56C579.72,50.29,580.11,40.65,580.11,40.65ZM542.75,12.41h35.81V24.26h-10V54.1H553V24.17H542.75Zm-44.54-.09,17.3.09,9,19.29V12.32h13.75V54.18H523.63L512,31.09V54.16H498.2Zm-37.15,0h31.38V24.39H476.69v3.31h12.45v10.9H476.68v3.7h16.55V54.16H461.06Zm-31.09,0L436.54,38l6.4-25.6h14.44L444.32,54H426.76L413.09,12.32Zm-50.77,0h31.38V24.39H394.83v3.31h12.45v10.9H394.82v3.7h16.55V54.16H379.19Z"></path>
    </symbol><!-- #svg-logo - END -->

    <!-- User -->
    <symbol id="svg-user" viewBox="0 0 24 24">
      <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-user - END -->

    <!-- Basket -->
    <symbol id="svg-basket" viewBox="0 0 24 24">
      <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-basket - END -->

    <!-- Subscribe - Arrow -->
    <symbol id="svg-sub-arrow" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
    </symbol><!-- #svg-sub-arrow - END -->

    <!-- Subscribe - Check -->
    <symbol id="svg-sub-check" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
    </symbol><!-- #svg-sub-check - END -->

    <!-- Subscribe - Error -->
    <symbol id="svg-sub-error" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-sub-check - END -->

    <!-- Top arrow -->
    <symbol id="svg-top-arrow" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path d="M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z"/>
    </symbol><!-- #svg-top-arrow - END -->

    <!-- Star - Empty -->
    <symbol id="svg-star-empty" viewBox="0 0 24 24">
      <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-star-empty - END -->

    <!-- Star - Half -->
    <symbol id="svg-star-half" viewBox="0 0 24 24">
      <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-star-half - END -->

    <!-- Star - Full -->
    <symbol id="svg-star-full" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-star-full - END -->

    <!-- Favorite -->
    <symbol id="svg-favorite" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
    </symbol><!-- #svg-favorite - END -->

    <!-- Minus -->
    <symbol id="svg-minus" viewBox="0 0 24 24">
      <path d="M19 13H5v-2h14v2z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-minus - END -->

    <!-- Plus -->
    <symbol id="svg-plus" viewBox="0 0 24 24">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-plus - END -->

    <!-- Food -->
    <symbol id="svg-food" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M8.1 13.34l2.83-2.83L3.91 3.5c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"/>
    </symbol><!-- #svg-food - END -->

    <!-- Remove -->
    <symbol id="svg-remove" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-remove - END -->

    <!-- Rest -->
    <symbol id="svg-rest" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M8.1 13.34l2.83-2.83L3.91 3.5c-1.56 1.56-1.56 4.09 0 5.66l4.19 4.18zm6.78-1.81c1.53.71 3.68.21 5.27-1.38 1.91-1.91 2.28-4.65.81-6.12-1.46-1.46-4.2-1.1-6.12.81-1.59 1.59-2.09 3.74-1.38 5.27L3.7 19.87l1.41 1.41L12 14.41l6.88 6.88 1.41-1.41L13.41 13l1.47-1.47z"/>
    </symbol><!-- #svg-rest - END -->

    <!-- Credit -->
    <symbol id="svg-credit" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/>
    </symbol><!-- #svg-credit - END -->

    <!-- Cup -->
    <symbol id="svg-cup" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M20 3H4v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.89 2-2V5c0-1.11-.89-2-2-2zm0 5h-2V5h2v3zM2 21h18v-2H2v2z"/>
    </symbol><!-- #svg-cup - END -->

    <!-- Smile -->
    <symbol id="svg-smile" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>

    </symbol><!-- #svg-smile - END -->

    <!-- Form | Success -->
    <symbol id="svg-form-success" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
    </symbol><!-- #svg- - END -->

    <!-- Form | Error -->
    <symbol id="svg-form-error" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg- - END -->

    <!-- Contacts | Phone -->
    <symbol id="svg-contacts-phone" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
    </symbol><!-- #svg- - END -->

    <!-- Contacts | Mail -->
    <symbol id="svg-contacts-mail" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
    </symbol><!-- #svg- - END -->

    <!-- Contacts | Place -->
    <symbol id="svg-contacts-place" viewBox="0 0 24 24">
      <path d="M18 8c0-3.31-2.69-6-6-6S6 4.69 6 8c0 4.5 6 11 6 11s6-6.5 6-11zm-8 0c0-1.1.9-2 2-2s2 .9 2 2-.89 2-2 2c-1.1 0-2-.9-2-2zM5 20v2h14v-2H5z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg- - END -->

    <!-- Notifications | Important -->
    <symbol id="svg-noti-imp" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M7.58 4.08L6.15 2.65C3.75 4.48 2.17 7.3 2.03 10.5h2c.15-2.65 1.51-4.97 3.55-6.42zm12.39 6.42h2c-.15-3.2-1.73-6.02-4.12-7.85l-1.42 1.43c2.02 1.45 3.39 3.77 3.54 6.42zM18 11c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2v-5zm-6 11c.14 0 .27-.01.4-.04.65-.14 1.18-.58 1.44-1.18.1-.24.15-.5.15-.78h-4c.01 1.1.9 2 2.01 2z"/>
    </symbol><!-- #svg-noti-imp - END -->

    <!-- Notifications | New -->
    <symbol id="svg-noti-new" viewBox="0 0 24 24">
      <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
    </symbol><!-- #svg-noti-new - END -->

    <!-- Notifications | Old -->
    <symbol id="svg-noti-old" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z"/>
    </symbol><!-- #svg-noti-old - END -->

    <!-- Profile | Edit -->
    <symbol id="svg-profile-edit" viewBox="0 0 24 24">
      <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-profile-edit - END -->

    <!-- Account | Orders -->
    <symbol id="svg-acc-orders" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
    </symbol><!-- #svg-acc-orders - END -->

    <!-- Go Back -->
    <symbol id="svg-back" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
    </symbol><!-- #svg-back - END -->

    <!-- Tag | Normal -->
    <symbol id="svg-tag" viewBox="0 0 107.5 46">
      <path d="M105.8,19L87.6,1.5c-1-1-2.4-1.5-3.8-1.5H5.5C2.5,0,0,2.5,0,5.5v34.9C0,43.5,2.5,46,5.5,46h78.2
                c1.4,0,2.8-0.6,3.8-1.5L105.8,27C108.1,24.8,108.1,21.2,105.8,19z M103.2,26.5L85.9,42.2c-1,0.9-2.3,1.4-3.6,1.4H8
                c-2.9,0-5.3-2.2-5.3-5V7.3c0-2.7,2.4-5,5.3-5h74.3c1.4,0,2.7,0.5,3.6,1.4l17.3,15.6C105.3,21.3,105.3,24.6,103.2,26.5z"/>
      <circle cx="84.7" cy="23" r="4.8"/>
    </symbol><!-- #svg-tag - END -->

    <!-- Tag | Active -->
    <symbol id="svg-tag-a" viewBox="0 0 107.5 46">
      <path d="M105.8,19L87.6,1.5c-1-1-2.4-1.5-3.8-1.5H5.5C2.5,0,0,2.5,0,5.5v34.9C0,43.5,2.5,46,5.5,46h78.2c1.4,0,2.8-0.6,3.8-1.5
		L105.8,27C108.1,24.8,108.1,21.2,105.8,19z M84.7,27.8c-2.7,0-4.8-2.2-4.8-4.8s2.2-4.8,4.8-4.8s4.8,2.2,4.8,4.8S87.3,27.8,84.7,27.8
		z"/>
    </symbol><!-- #svg-tag-a - END -->

    <!-- Angle | Left -->
    <symbol id="svg-angle-l" viewBox="0 0 24 24">
      <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
      <path d="M0-.5h24v24H0z" fill="none"/>
    </symbol><!-- #svg-angle-l - END -->

    <!-- Angle | Right -->
    <symbol id="svg-angle-r" viewBox="0 0 24 24">
      <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
      <path d="M0-.25h24v24H0z" fill="none"/>
    </symbol><!-- #svg-angle-r - END -->

    <!-- Visible -->
    <symbol id="svg-visible" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
    </symbol><!-- #svg-visible - END -->

    <!-- Social | FB -->
    <symbol id="svg-soc-fb" viewBox="0 0 96.124 96.123">
      <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803   c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654   c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246   c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z" />
    </symbol><!-- #svg-soc-fb - END -->

    <!-- Social | Linkedin -->
    <symbol id="svg-soc-link" viewBox="0 0 510 510">
      <path d="M459,0H51C22.95,0,0,22.95,0,51v408c0,28.05,22.95,51,51,51h408c28.05,0,51-22.95,51-51V51C510,22.95,487.05,0,459,0z     M153,433.5H76.5V204H153V433.5z M114.75,160.65c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9    S140.25,160.65,114.75,160.65z M433.5,433.5H357V298.35c0-20.399-17.85-38.25-38.25-38.25s-38.25,17.851-38.25,38.25V433.5H204    V204h76.5v30.6c12.75-20.4,40.8-35.7,63.75-35.7c48.45,0,89.25,40.8,89.25,89.25V433.5z" />
    </symbol><!-- #svg-soc-link - END -->

    <!-- Social | Twitter -->
    <symbol id="svg-soc-twit" viewBox="0 0 612 612">
      <path d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411    c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513    c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101    c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104    c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194    c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485    c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z" />
    </symbol><!-- #svg-soc-link - END -->

    <!-- Share -->
    <symbol id="svg-share" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/>
    </symbol><!-- #svg-share - END -->

    <!-- Camera -->
    <symbol id="svg-camera" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="3.2"/>
      <path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-share - END -->

    <!-- Ticket -->
    <symbol id="svg-ticket" viewBox="0 0 612 612">
      <path d="M608,246.9l-29.4-42c-0.2,0.1-0.4,0.3-0.5,0.4c-33.3,23.3-79.2,15.2-102.5-18.1c-23.3-33.3-15.2-79.2,18.1-102.5
			c0.2-0.1,0.4-0.2,0.5-0.4l-29.4-42c-7.1-10.1-21-12.6-31.1-5.5l-116.3,81.4l25.4,36.3L315.2,174l-25.4-36.3L9.5,334
			c-10.1,7.1-12.6,21-5.5,31.1l143.2,204.4c7.1,10.1,21,12.6,31.1,5.5l280.2-196.3l-25.1-35.9l27.6-19.3l25.1,35.9L602.5,278
			C612.6,270.9,615,257,608,246.9z M334.8,200.7l27.6-19.3l33,47.1l-27.6,19.3L334.8,200.7z M415.7,317.5L385.2,274l27.6-19.3
			l30.5,43.5L415.7,317.5z"/>
    </symbol><!-- #svg-ticket - END -->

    <!-- Print -->
    <symbol id="svg-print" viewBox="0 0 24 24">
      <path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-print - END -->

    <!-- Download -->
    <symbol id="svg-download" viewBox="0 0 24 24">
      <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </symbol><!-- #svg-download - END -->

  </defs>
</svg><!-- .svg-sprite -->

<header class="header inverse">
  <div class="container">
    <div class="logo">
      <a href="">
        <svg class="svg-logo">
          <use xlink:href="#svg-logo"></use>
        </svg>
      </a>
    </div><!-- .logo - END -->

    <button type="button" class="menu-toggle">
			<span>
				<span class="top db item"></span>
				<span class="middle db item"></span>
				<span class="bottom db item"></span>
			</span><!-- .menu-toggle - END -->
    </button><!-- .menu - END -->
    <?php echo $menus ; ?><!-- .menu - END -->
    <div class="close-panel"></div><!-- .close-panel - END -->

    <div class="toolbar" style="">
      <button type="button" class="user-toggle">
        <svg class="svg-user">
          <use xlink:href="#svg-user"></use>
        </svg>
      </button><!-- .user-toggle - END -->
      <div ></div>

      <div class="user-panel" style="" id="user-info">
        <?php if (false) { ?>
        <form action="" class="user-login">
          <div class="login dn">
            <input type="tel" name="login-phone" placeholder="Ваш номер телефону">
            <input type="password" name="login-password" placeholder="Ваш пароль">

            <button type="button" class="password-restore">Забули пароль?</button><!-- .password-restore - END -->
            <button type="button" class="link link-inverse medium">Увійти</button><!-- .link - END -->

            <button type="button" class="new-register">Зареєструватись</button><!-- .new-register - END -->
          </div><!-- .login - END -->

          <div class="register ">
            <input type="email" name="login-email" placeholder="Ваш e-mail">

            <div class="default-dropdown form-dropdown">
              <div class="c-dropdown js-dropdown">
                <input type="hidden" name="login-user-type" class="js-dropdown_input" value="Базовий користувач">
                <span class="c-button c-button-dropdown js-dropdown_current cs dib">Тип користувача</span>
                <ul class="c-dropdown_list">
                  <li class="c-dropdown_item nw" data-dropdown-value="Базовый">Базовий користувач</li>
                  <li class="c-dropdown_item nw" data-dropdown-value="Студент">Студент</li>
                  <li class="c-dropdown_item nw" data-dropdown-value="Резидент">Резидент</li>
                </ul>
              </div>
            </div>

            <input type="tel" name="login-phone" placeholder="Ваш номер телефону">
            <input type="password" name="login-password" placeholder="Ваш пароль">
            <input type="password" name="login-password-repeat" placeholder="Ваш пароль повторно">

            <button type="button" class="link link-inverse medium send-confirm-code">Надіслати СМС-код</button><!-- .send-confirm-code - END -->
          </div><!-- .register - END -->

          <div class="register-confirm dn">
            <input type="text" name="confirm-cde" placeholder="Ваш СМС-код">

            <button type="button" class="link link-inverse medium send-confirm-code">Зареєструватись</button><!-- .send-confirm-code - END -->
            <button type="button" class="resend-confirm-code">Надіслати ще раз?</button><!-- .resend-confirm-code - END -->

            <button class="link-icon go-back">
              <svg class="svg-icon">
                <use xlink:href="#svg-back"></use>
              </svg>
            </button><!-- .go-back - END -->
          </div><!-- .register-confirm - END -->
        </form>
        <?php } ?>
      </div><!-- .user-panel - END -->

    </div><!-- .toolbar - END -->
  </div><!-- .container - END -->
</header><!-- .header - END -->
