//Menu
@keyframes menu {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

//Tabs
@keyframes tabs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//Effect
@keyframes effect {
  0% {
    transform: translate(-50%, -50%) scale(1);

    opacity: 0;

  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.75);

    opacity: 0;
  }
}