.special-section {
  .container {
    margin-bottom: 80px;


    @extend .df;
    @extend .df-wrap;
    @extend .jc-space-between;
  }

  //Special proposition
  .special-proposition {
    width: 55%;
    margin-bottom: 65px;

    .item {
      @extend .df;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    .media, .info {
      width: 50%;
    }
    .info {
      font-size: $f14px;
      padding-left: 5%;
    }
    h4 {
      border-bottom: 1px solid $light-gray;
      font-weight: $medium;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    p {
      line-height: 1.25;
    }
  }

  //Best of
  .best-of {
    margin-top: -50px;
    width: 38%;

    .items {
      border: 1px solid $light-gray;
      border-radius: $default-radius;
    }
    .item {
      padding: 40px 15px 40px 25px;

      @extend .df;
      @extend .ai-center;

      &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
      }
    }

    //Media
    .media {
      border-radius: 50%;
      box-shadow: 2px 3px 8px 0 rgba($black,0.25);
      width: 90px;
      height: 90px;
      margin-right: 5%;
      overflow: hidden;

      a {
        transition: all $default-transition;
        position: relative;

        @extend .link-block;

        &:hover {
          opacity: 0.75;
        }
      }
      img {
        height: 100%;
        width: auto;
        max-width: none;

        @extend .centering;
      }
    }

    //Info
    .info {
      width: 50%;
      margin-right: 2%;
    }
    h2 {
      font-size: $f24px;
      margin-bottom: 20px;

      @extend .tc;
    }
    h4 {
      border-bottom: 1px solid $light-gray;
      font-size: $f16px;
      font-weight: $medium;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    p {
      font-size: $f14px;
      line-height: 1.25;
    }

    //Order
    .order {
      width: 20%;

      @extend .df-c;
      @extend .ai-center;
      @extend .jc-center;
    }
    .price {
      color: $primary-color;
      font-size: $f24px;
      margin-bottom: 20px;

      @extend .tc;
    }

  }

  .link {
    margin-top: 80px;
  }
}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .special-section {
    .container {
      margin-bottom: 55px;
    }
    .special-proposition,
    .best-of {
      width: 100%;
      max-width: 475px;
      margin: 0 auto;
    }

    //Special proposition
    .special-proposition {
      margin-bottom: 50px;

      .item {
        flex-wrap: wrap;
      }
      .media,
      .info {
        width: 100%;
      }
      .media {
        margin-bottom: 20px;
      }
      .info {
        padding: 0;
      }
    }

    //Best of
    .best-of {
      margin-top: 0;
    }

    .link {
      margin-top: 35px;
    }
  }
}
@media screen and (min-width: 0) and (max-width: #{$screen-sm-max} ) {
  .special-section {
    .best-of {
      .item {
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px 15px;
      }
      .media {
        margin-right: 7%;
      }
      .info {
        width: 55%;
        margin-right: 0;
      }
      .order {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
        margin: 20px auto 0;
      }
      .price {
        margin: 0;

        br {
          display: none;
        }
      }
    }
  }
}