.checkout {
  .wrapper {
    @extend .df;
    //@extend .jc-space-between;
  }

  //Items
  .left {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    width: 55%;
    margin-right: 10%;
  }
  .item {
    padding: 25px 40px 25px 25px;

    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
  }
  h3 {
    font-size: $f14px;
    width: 65%;
    padding-right: 5%;
  }
  .count, .cost {
    font-weight: $medium;

    @extend .tc;

    span {
      @extend .db;
    }
    span:first-child {
      font-size: $f24px;
    }
  }

  //Form
  .right {
    width: 35%;
    max-width: 300px;
  }
  .fieldset {
    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;

    &:not(:last-child) {
      margin-bottom: 45px;
    }
    span, label {

      font-size: $f14px;
    }
    .time {
      border: 1px solid $light-gray;
      border-radius: $default-radius;
      font-weight: $medium;
      padding: 15px 50px;
    }
  }
  .items-counter {
    margin: 0;
  }
  .range-slider {
    width: 65%;

    .irs {
      height: auto;
    }
    .irs-line {
      background: $gray;
      height: 1px;

      top: 0;
    }
    .irs-line-mid {
      background: none;
      width: 100%;
      height: 1px;

      left: 0;
    }
    .irs-slider {
      background: none;

      top: -10px;

      &:after {
        content: '';
        display: block;
        background: $white;
        border: 1px solid $light-gray;
        box-shadow: 2px 3px 10px -2px rgba($black,0.25);
        border-radius: 50%;
        width: 22px;
        height: 22px;

        @extend .centering;
      }
    }
    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to,
    .irs-single,
    .irs-line-left,
    .irs-line-right,
    .irs-bar-edge,
    .irs-bar {
      @extend .dn;
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .checkout {
    h1 {
      padding: 30px 0;
    }
    .wrapper {
      flex-wrap: wrap;
      margin-bottom: 20px;

      & > div {
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }
      .left {
        max-width: 400px;
        margin-bottom: 30px;
      }
      .right {
        max-width: 350px;
      }
    }

    .item {
      padding: 20px;
    }
    .count span:nth-child(1),
    .cost span:nth-child(1) {
      font-size: $f20px;
    }
    .count span:nth-child(2),
    .cost span:nth-child(2) {
      font-size: $f14px;
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-xs-max} ) {
  .checkout {
    .wrapper {
      .left {
        max-width: 500px;
      }
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
}