.tags-slider {
  width: 100%;
  max-width: 550px;
  position: relative;

  @extend .df;
  @extend .ai-center;

  .swiper-slide {
    margin-right: 15px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background: none;
    border: 2px solid $light-gray;
    border-radius: $default-radius;
    width: 40px;
    height: 40px;
    transition: border-color $default-transition;

    &:hover {
      border-color: $secondary-color;
    }
    svg {
      width: 85%;
      height: 85%;

      @extend .centering;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: -60px;
  }
  .swiper-button-next {
    right: -110px;
  }
}

//Tags drop
.tags-dropdown {
  width: 100%;
  position: relative;

  @extend .df;
  @extend .jc-flex-end;
  @extend .ai-center;
}
.tags-drop-button {
  @extend .df;
  @extend .ai-center;

  &:hover {
    color: $secondary-color;
  }
  span {
    font-size: $f14px;
    font-weight: $medium;
    margin-right: 10px;
  }
  svg {
    width: 50px;
    height: 30px;
  }
}
.tags-panel {
  background: $white;
  border: 1px solid $gray;
  border-radius: $sm-radius;
  box-shadow: 0 1px 20px -6px $dark-gray;
  width: 100%;
  max-width: 600px;
  transition: all $default-transition;
  will-change: opacity;
  padding: 30px 30px 15px;
  opacity: 0;

  z-index: 100;
  position: absolute;
  top: 100%;
  right: 0;

  @extend .pe-none;

  &.active {
    opacity: 1;

    @extend .pe-auto;
  }
}
//Tag label
.tag-label-wrapper {
  border-top: 2px solid $gray;
  border-bottom: 2px solid $gray;
  font-size: $f14px;
  height: 38px;
  padding: 10px;
  margin: 0 30px 15px 20px;
  position: relative;

  .tag-ba {
    display: block;
    height: 38px;
    width: 20px;
    transition: opacity $default-transition;

    position: absolute;
    top: -2px;

    &:before, &:after {
      content: '';
      display: block;
      background: transparent no-repeat center;
      background-size: contain;
      height: 100%;
      width: 100%;
      transition: opacity $default-transition;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }

  }
  .tag-before {
    left: -20px;

    &:before, &:after {
      background-position: center right;
    }
    &:before {
      background-image: url("../icons/tag-before-i.png");
      opacity: 1;
    }
    &:after {
      background-image: url("../icons/tag-before.png");
      opacity: 0;
    }
  }
  .tag-after {
    width: 30px;

    right: -30px;

    &:before, &:after {
      background-position: center left;
    }
    &:before {
      background-image: url("../icons/tag-after-i.png");
      opacity: 1;
    }
    &:after {
      background-image: url("../icons/tag-after.png");
      opacity: 0;
    }
  }

  //Hover
  &:hover {
    border-color: $secondary-color;

    .tag-before, .tag-after {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }

  //Active
  &.active {
    background: $secondary-color;
    border-color: $secondary-color;
    color: $white;

    .tag-before {
      &:before {
        background-image: url("../icons/tag-before-a.png");
        opacity: 1;
      }
      &:after {
        display: none;
      }
    }
    .tag-after {
      &:before {
        background-image: url("../icons/tag-after-a.png");
        opacity: 1;
      }
      &:after {
        display: none;
      }
    }

    //Hover
    &:hover {
      background-color: lighten($secondary-color, 5%);
      border-color: lighten($secondary-color, 5%);

      .tag-before, .tag-after {
        opacity: 0.93;
      }
    }
  }

}


//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .tags-slider {
    width: 60%;
    margin-top: 30px;
  }
  .tags-dropdown {
    justify-content: flex-start;
  }
  //Tag label
  .tags-panel {
    padding: 15px 15px 8px;
    max-width: 500px;

    top: calc(100% + 10px);
    left: 0;
    right: auto;

    .tag-label-wrapper {
      font-size: $f12px;
      margin-bottom: 7px;
    }

  }
}
@media screen and (min-width: #{$screen-md-min} ) and (max-width: #{$screen-md-max} ) {
  .tags-slider {
    max-width: 750px;
    margin-top: 30px;
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-md-max} ) {
  .tags-dropdown {
    justify-content: flex-start;
    max-width: 500px;
  }
}