.event-details {
  margin-bottom: 100px;

  .container {
    @extend .df;
    @extend .jc-space-between;
    @extend .ai-flex-start;
  }
  .details,
  .event-information {
    width: 48%;
  }

  //Media
  .media {
    border: 1px solid $gray;
    border-bottom: none;
    border-top-left-radius: $sm-radius;
    border-top-right-radius: $sm-radius;
    overflow: hidden;

    img {
      @extend .db;
    }
  }

  //Tabs
  .tab-header {
    border: 1px solid $light-gray;
    border-bottom-left-radius: $sm-radius;
    border-bottom-right-radius: $sm-radius;
    margin-bottom: 30px;

    &:after {
      display: none;
    }
  }
  .tabs {
    max-width: 85%;
    margin: 0 auto;

    @extend .jc-space-around;

    li {
      width: auto;
    }
    .tab a {
      font-size: $f14px;
      padding: 0;
    }
  }
  .tab-content {
    margin-bottom: 30px;

    p {
      font-size: $f14px;
      line-height: 1.15;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  //Speakers
  .speakers {
    @extend .df;
    @extend .df-wrap;
  }
  .speaker {
    width: 50%;
    margin-bottom: 30px;
    position: relative;

    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;

    .photo {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-right: 25px;
      overflow: hidden;
      position: relative;

      &:before, &:after {
        content: '';
        display: block;
        transition: opacity $default-transition;
        opacity: 0;

        @extend .centering;
      }
      &:before {
        background: rgba($primary-color, 0.9);
        width: 100%;
        height: 100%;

        z-index: 1;
      }
      &:after {
        background: url("../icons/visibility.svg") no-repeat center;
        background-size: contain;
        fill: $white;
        width: 40px;
        height: 40px;

        z-index: 2;
      }

      img {
        z-index: 0;

        @extend .centering;
      }
    }
    .name {
      width: 60%;
      padding-right: 20px;

      h4 {
        font-size: $f16px;
        font-weight: $medium;
        margin-bottom: 10px;
      }
      h5 {
        font-size: $f14px;
        font-weight: $regular;
        line-height: 1.15;
      }
    }

    //Hover block
    &:hover {
      .photo {
        &:before, &:after {
          opacity: 1;
        }
      }
    }
  }
  .speaker-holder {
    z-index: 10;

    @extend .centering;
  }

  //Timing
  .timing {
    @extend .df;
    @extend .jc-space-between;
    @extend .df-wrap;

    .column {
      font-size: $f14px;
      width: 47%;

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
    .date {
      border: 1px solid $gray;
      border-radius: $default-radius;
      font-weight: $medium;
      padding: 10px 25px;
      margin-bottom: 25px;

      @extend .dib;
    }
    li {

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  //Organizer
  .person {
    padding: 0 15px;

    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    //Avatar
    .avatar {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      margin-right: 25px;
      overflow: hidden;
      position: relative;

      img {
        @extend .db;
        @extend .centering;
      }
    }

    //Title
    .title {
      width: 35%;
      margin-right: 2%;

      h3 {
        font-size: $f16px;
        font-weight: $medium;
        margin-bottom: 5px;
      }
      h4 {
        font-size: $f14px;
        font-weight: $regular;
      }
    }

    //Contacts
    .contacts {
      font-size: $f14px;
      width: 45%;

      span {
        @extend .db;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      .social a {
        color: $primary-color;
        text-decoration: underline;

        &:hover {
          color: $secondary-color;
        }
      }
      a:hover {
        color: $secondary-color;
      }
    }
  }

  //Event information
  .information {
    border: 1px solid $gray;
    border-radius: $sm-radius;

    .date-name,
    .row:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
    .date-name > div,
    .row {
      padding: 20px;
    }
    .date-name {
      position: relative;

      @extend .df;
      @extend .ai-center;
    }

    //Date
    .date {
      border-right: 1px solid $gray;
      color: $primary-color;

      @extend .tc;

      span {
        @extend .db;
      }
      span:nth-child(1) {
        font-size: $f30px;
        font-weight: $bold;
        margin-bottom: 5px;
      }
      .day {
        font-size: $f14px;
        font-weight: $medium;
      }
    }

    //Name
    .name {
      width: 60%;

      h1 {
        font-size: $f18px;
        font-weight: $medium;
        margin-bottom: 2px;
      }
      h3 {
        font-size: $f14px;
        font-weight: $light;
      }
    }

    //Favorite
    .add-to-favorite {
      transform: translateY(-50%);

      position: absolute;
      top: 50%;
      right: 20px;
    }

    //Row
    .row {
      font-size: $f14px;

      @extend .df;
      @extend .ai-center;

      .name {
        font-weight: $semi-bold;
        width: 22%;
        padding-right: 2%;
      }
      .info {
        width: 75%;

        span {
          @extend .db;

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
      a {
        color: $primary-color;
        text-decoration: underline;

        &:hover {
          color: $secondary-color;
        }
      }

      //Tag
      .tag-button {
        margin-right: 10px;
      }
    }
    .row-doubled {
      & > div:nth-child(2) {
        margin-right: 8%;
      }
      & > div:nth-child(even) {
        width: 25%;
      }
    }


  }

  //Tickets price
  .tickets-price {
    span:not(.active) {
      color: $dark-gray;
    }
    .active {
      position: relative;

      &:before {
        content: '';
        display: block;
        background: $primary-color;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        transform: translateY(-50%);

        position: absolute;
        top: 50%;
        left: -12px;
      }
    }
  }

  //Buy ticket | Social
  .buy-social {
    margin-top: 35px;

    @extend .df-c;
    @extend .jc-center;

    .social {
      width: 100%;
      max-width: 200px;
      margin: 35px auto 0;

      @extend .df;
      @extend .jc-space-around;
      @extend .ai-center;
    }

    //Share
    .share-wrapper {
      width: 35px;
      height: 35px;
    }
  }

}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-zero-max} ) {
  .event-details {
    .tabs {
      max-width: 90%;

      .tab a {
        font-size: $f10px;
      }
    }
  }
}
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .event-details {
    margin-bottom: 50px;

    .container {
      flex-wrap: wrap;
    }
    .tab-content {
      margin-bottom: 50px;
    }
    .details,
    .event-information {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }
    .speaker {
      width: 100%;
      justify-content: flex-start;
    }
    .timing {
      .column {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
    .person {
      flex-wrap: wrap;

      .title,
      .contacts {
        width: 100%;
      }
      .title {
        margin: 25px 0;
      }
    }
    .date-name {
      flex-wrap: wrap;

      & > div {
        width: 100%;
      }
      .date {
        text-align: left;
      }
      .name {
        width: 100%;
      }
    }
    .information {
      .add-to-favorite {
        transform: none;

        top: 20px;
      }
      .row {
        .name {
          width: 40%;
        }
        .info {
          width: 58%;
        }
        .tag-button {
          width: 60px;
          height: 27px;
          margin-right: 5px;
        }
      }
      .row-doubled {
        flex-wrap: wrap;

        .name,
        .info,
        & > div:nth-child(even) {
          width: 48%;
          margin: 0;
        }
        & > div:nth-child(1),
        & > div:nth-child(2) {
          margin-bottom: 5px;
        }
        .name {
          width: 40%;
        }
      }
    }

    //Tags
    .tag-label-wrapper {
      max-width: 110px;

      span:nth-child(2) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-md-max} ) {
  .event-details {
    margin-bottom: 50px;

    .tabs {
      max-width: 95%;

      .tab a {
        font-size: $f12px;
      }
    }
    .speaker {
      width: 100%;
      justify-content: flex-start;
    }
    .timing .column {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .person {
      flex-wrap: wrap;

      .title,
      .contacts {
        width: 100%;
      }
      .title {
        margin: 20px 0;
      }
    }
    .date-name {
      flex-wrap: wrap;

      .date,
      .name {
        width: 100%;
      }
      .date {
        text-align: left;
      }
      .add-to-favorite {
        transform: none;

        top: 20px;
      }
    }
    .information {
      .row {
        .name {
          width: 35%;
        }
      }
      .row-doubled {
        & > div:nth-child(even) {
          width: 35%;
        }
      }
    }
  }
}