.events-navigation {
  &:before {
    content: '';
    display: block;
    background: $light-gray;
    width: 100%;
    height: 1px;

    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .container {
    max-width: 1000px;
  }
  ul {
    @extend .df;
    @extend .jc-space-between;
  }
  li {
    a {
      font-size: $f14px;
      color: $default-color;
      font-weight: $regular;
      padding: 20px 15px;
      transition: color $default-transition;
      position: relative;

      @extend .df;
      @extend .ai-center;
      @extend .nw;
      @extend .up;

      &:hover,
      &.active {
        color: $secondary-color;
      }
    }
    &.active {
      a {
        color: $secondary-color;
        font-weight: $bold;

        &:after {
          content: '';
          display: block;
          background: $secondary-color;
          width: 100%;
          height: 1px;

          z-index: 1;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

// Fixed sideNav hide on smaller
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-sm-max} ) {
  .events-navigation {
    .container {
      padding: 0;
      //padding-right: 0;
      overflow-y: scroll;
    }
    ul {
      display: flex;
      padding: 0 15px;
      overflow-y: hidden;
    }
  }
}
