.filters {
  padding: 45px 0;

  .container {
    @extend .df;
  }
}
//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-sm-max} ) {
  .filters {
    .container {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .default-dropdown {
      margin: 0 15px 15px 0;

    }
  }
}
@media screen and (min-width: #{$screen-md-min} ) and (max-width: #{$screen-md-max} ) {
  .filters {
    .container {
      flex-wrap: wrap;
    }
  }
}