.sponsors {
  margin: 30px 0 85px;

  .swiper-container {
    max-width: 960px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    background: none;
    border: 2px solid $gray;
    border-radius: $default-radius;
    width: 40px;
    height: 40px;
    transition: border-color $default-transition;

    &:hover {
      border-color: $secondary-color;
    }
    svg {
      width: 85%;
      height: 85%;

      @extend .centering;
    }
  }
  img {
    filter: grayscale(100%);
    opacity: 0.25;
    transition: all $default-transition;
  }
  a:hover {
    img {
      filter: none;
      opacity: 1;
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .sponsors {
    .swiper-container {
      max-width: 45%;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-md-max} ) {
  .sponsors {
    .swiper-container {
      max-width: 80%;
    }
  }
}