.lost-404 {
  .wrapper {
    padding: 100px 0;
    max-width: 515px;
    margin: 0 auto;

    @extend .tc;
  }
  img, p {
    width: 100%;
    margin: 0 auto 50px;
  }
  p {
    line-height: 1.25;
    max-width: 365px;
  }
  h1 {
    font-size: $f24px;
    margin-bottom: 25px;
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .lost-404 {
    .wrapper {
      padding: 50px 0;
    }
    img {
      max-width: 400px;
    }
    img, p {
      margin: 0 auto 35px;
    }
    h1 {
      font-size: $f20px;
    }
  }
}
