.breadcrumbs {
  padding: 30px 0 45px;

  ul {
    font-size: $f14px;

    @extend .df;
    @extend .up;

    li {
      &:not(:last-child) {
        margin-right: 7px;
        position: relative;

        &:after {
          content: ' / ';
          display: inline-block;
          vertical-align: top;
          margin-left: 7px;
        }
      }
      &:last-child {
        font-weight: $medium;
      }
    }
    a:hover {
      color: $primary-color;
    }
  }

  //Gallery
  .event-galley-info {
    cursor: pointer;
    font-size: $f14px;
    font-weight: $medium;
    text-decoration: underline;
    transform: translateY(-50%);

    position: absolute;
    top: 50%;
    right: $container-padding;

    @extend .up;
  }
}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .breadcrumbs {
    padding: 0 0 20px;

    .container {
      padding: 0;
      max-width: 590px;
    }
    ul {
      overflow-x: auto;
      overflow-y: hidden;
      padding-left: $container-padding;
    }
    li {
      white-space: nowrap;
      padding: 20px 0;

      &:last-child {
        padding-right: $container-padding;
      }
    }
    .event-galley-info {
      transform: none;

      top: 100%;
      right: auto;
      left: $container-padding;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-md-max} ) {
  .breadcrumbs {
    .event-galley-info {
      right: $container-padding;
    }
  }
}