.items-counter {
  font-size: $f24px;
  font-weight: $medium;
  margin: 40px 0;

  @extend .dif;
  @extend .ai-center;

  input {
    width: 60px;

    @extend .tc;
  }
  .total {
    margin-left: 25px;
  }
}