.product {
  margin-bottom: 50px;

  .container {
    @extend .df;
    @extend .jc-space-between;
  }
  .media,
  .info {
    width: 47%;
  }

  //Info
  .intro {
    @extend .df;
    @extend .jc-space-between;
  }
  .desc {
    width: 80%;
  }
  h1 {
    font-size: $f24px;
    margin-bottom: 15px;
  }
  p {
    line-height: 1.25;
  }
  .weight-reviews,
  .reviews {
    font-size: $f14px;
    font-weight: $medium;
  }
  .weight-reviews {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;

    @extend .dif;
  }
  .weight {
    margin-top: 3px;
  }
  .reviews {
    margin-left: 25px;

    @extend .df;
    @extend .ai-center;

    & > span {
      color: #9d9d9d;
      margin-left: 10px;
    }
  }
  button.link {
    margin: 0;
  }

  //Order
  .order {
    @extend .df;
    @extend .ai-center;
  }
  .note {
    font-size: $f12px;
    font-weight: bold;
    line-height: 1.35;
    margin-left: 30px;
  }
}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .product {
    .container {
      flex-wrap: wrap;
    }
    .media,
    .info {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
    }
    .media {
      margin-bottom: 20px;
    }
    h1 {
      font-size: $f20px;
      width: 80%;
    }
    .intro {
      position: relative;
    }
    .desc {
      width: 100%;
    }
    .add-to-favorite {
      position: absolute;
      top: 0;
      right: 0;
    }
    .order {
      flex-wrap: wrap;
    }

  }
}
@media screen and (min-width: 0 ) and (max-width: #{$screen-zero-max} ) {
  .product {
    .note {
      margin: 25px 0 0 0;
      width: 100%;
    }
  }
}