.reviews-section {
  .container {
    margin-bottom: 50px;

    @extend .df;
    @extend .jc-space-between;
  }
  .all-reviews {
    position: relative;

    .to-review {
      position: absolute;
      top: -25px;
      right: 0;
    }
  }
  .all-reviews,
  .add-reviews {
    width: 47%;

    h4, h5, label {
      font-weight: $medium;
    }
    h4 {
      font-size: $f24px;
      margin-bottom: 20px;
    }
    h5, label {
      font-size: $f18px;
    }
  }

  //All reviews
  .holder {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
    width: 100%;
    max-height: 275px;
    padding: 40px;
    overflow: hidden;

    .wrapper {
      padding-right: 40px;
      width: 100%;
      max-height: 195px;
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: $default-radius;
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar {
        background: $light-gray;
        width: 3px;
        height: 3px;
      }
    }
  }
  .item {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
    .head {
      border-bottom: 1px solid $light-gray;
      padding-bottom: 10px;
      margin-bottom: 10px;

      @extend .df;
      @extend .jc-space-between;
      @extend .ai-center;
    }
    h5 {
      font-size: $f18px;
    }
  }

  //Add reviews
  form {
    .rating {
      border-top: 1px solid $light-gray;
      padding: 20px 0;

      @extend .dif;
      @extend .ai-center;

      h5 {
        margin-right: 20px;
      }
    }
    .review-input {
      @extend .df;
      @extend .df-wrap;
      @extend .jc-flex-end;
    }
    .text-area {
      width: 100%;
      position: relative;
    }
    label, textarea {
      @extend .db;
    }
    label {
      cursor: pointer;
      margin-bottom: 20px;
      width: 100%;

      @extend .db;
      @extend .tl;
    }
    textarea {
      border: 1px solid $light-gray;
      border-radius: $default-radius;
      font-size: $f14px;
      padding: 10px;
      width: 100%;
      height: 175px;
      resize: none;

      &::-webkit-input-placeholder {color:#9d9d9d;}
      &::-moz-placeholder          {color:#9d9d9d;}
      &:-moz-placeholder           {color:#9d9d9d;}
      &:-ms-input-placeholder      {color:#9d9d9d;}
    }
    button {
      margin: 25px 0 0;
      padding: 15px 25px;
    }

    //Warning
    .review-warning {
      color: $default-color;
      font-size: $f18px;
      font-weight: $medium;
      width: 100%;
      height: 100%;
      opacity: 0;

      z-index: 2;

      @extend .df;
      @extend .jc-center;
      @extend .ai-center;
      @extend .centering;
      @extend .pe-none;

      &, &:before {
        transition: opacity $default-transition;
      }
      &:before {
        content: '';
        display: block;
        background: #eeeeee;
        width: 100%;
        height: 100%;
        opacity: 0;

        z-index: -1;

        @extend .centering;
      }
      span {
        line-height: 1.25;

        @extend .tc;
      }
      a {
        text-decoration: underline;

        &:hover {
          color: $primary-color;
        }
      }
    }

    //In-active
    &.in-active {
      button {
        opacity: 0;

        @extend .pe-none;
      }

      .review-warning {
        opacity: 1;

        @extend .pe-auto;

        &:before {
          opacity: 0.75;
        }
      }
    }
  }

  //Scroll to special

}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .reviews-section {
    .container {
      flex-wrap: wrap;
    }
    .all-reviews,
    .add-reviews {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
    }
    .all-reviews {
      margin-bottom: 30px;
    }
    .holder {
      padding: 30px;
    }
    .item {
      .head {
        flex-wrap: wrap;
      }
      h5 {
        font-size: $f16px;
        margin-bottom: 10px;
      }
      p {
        font-size: $f14px;
      }
    }
  }
}