.special-purpose {
  padding-bottom: 65px;

  .container {
    max-width: 750px;

    @extend .tc;
  }
  h4 {
    font-size: $f24px;
    font-weight: $medium;
    margin-bottom: 50px;
  }
  button {
    padding: 15px 25px;
  }
  span {
    font-size: $f24px;
    font-weight: bold;
  }
  .items {
    margin-bottom: 40px;

    @extend .df;
    @extend .jc-space-around;
    @extend .ai-center;
  }
  .item {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    overflow: hidden;
    position: relative;

    a {
      transition: opacity $default-transition;
      position: relative;

      @extend .link-block;

      &:hover {
        opacity: 0.75;
      }
    }
    img {
      width: auto;
      max-width: none;
      height: 100%;

      @extend .centering;
    }
  }
}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-zero-max} ) {
  .special-purpose {
    .items {
      max-width: 400px;
      margin: 0 auto 40px;
    }
    .item {
      width: 70px;
      height: 70px;
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-xs-max} ) {
  .special-purpose {
    .items {
      max-width: 600px;
      margin: 0 auto 40px;
    }
    .item {
      width: 105px;
      height: 105px;
    }
  }
}