.contacts-section {
  padding: 150px 0;

  .container {
    max-width: 1000px;
  }
  .wrapper {
    @extend .df;
    @extend .jc-space-between;
  }
  .left {
    width: 35%;

    @extend .df-c;
    @extend .jc-center;
  }
  .right {
    width: 60%;

    form {
      margin: 0;
    }
  }
  span {
    @extend .db;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  //Contacts
  .panel {
    font-weight: $regular;

    @extend .df;
    @extend .ai-center;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:hover .icon {
      background: $white;

      svg {
        fill: $secondary-color;
      }
    }
    a {
      text-decoration: underline;

      &:hover {
        color: $secondary-color;
      }
    }
  }
  .icon {
    background: $secondary-color;
    border-radius: 50%;
    box-shadow: 2px 3px 8px 0 rgba($black,0.25);
    width: 45px;
    height: 45px;
    position: relative;
    margin-right: 40px;

    svg {
      width: 60%;

      @extend .centering;
    }
  }

  //App
  .app {
    margin-top: 60px;
  }
  .app-buttons {
    margin-top: 25px;

    @extend .df;

    a {
      transition: opacity $default-transition;

      @extend .db;

      &:hover {
        opacity: 0.9;
      }
    }
    img {
      max-width: 125px;

      &:first-child {
        margin-right: 25px;
      }
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .contacts-section {
    padding: 75px 0;

    .wrapper {
      flex-wrap: wrap;
    }
    .left, .right {
      width: 100%;
    }
    .left {
      align-items: center;
      margin-bottom: 50px;
    }
    .right {
      form {
        margin: 0 auto;
      }
    }
    .panel {
      min-width: 275px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    .app {
      margin-top: 25px;
    }

  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  .contacts-section {
    padding: 100px 0;

    .right {
      width: 55%;
    }
  }
}