.application {
  //overflow: hidden;
  position: relative;

  &:before {
    content: '';
    display: block;
    background: rgba($extra-color, 0.9);
    width: 100%;
    height: 100%;

    z-index: 0;

    @extend .centering;
    @extend .pe-none;
  }
  .container {
    @extend .df;
    @extend .jc-flex-end;
  }

  //Parallax
  .parallax-wrapper {
    background: url("../image/mobile-mockup.png") no-repeat;
    background-size: contain;
    width: 70%;
    height: 100%;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: -20%;

    @extend .df;
    @extend .ai-center;

    /*img {
      //display: block !important;

      position: absolute;
      //top: -15%;
    }*/
  }

  //Info
  .info {
    color: $white;
    width: 60%;
    padding: 170px 0;

    @extend .tc;
  }
  h4, p {
    margin-bottom: 35px;
  }
  h4 {
    font-size: $f45px;
  }
  p {
    line-height: 1.35;
  }
  a {
    margin: 0 10px;

    @extend .dib;
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .application {
    .container {
      justify-content: center;
    }
    .parallax-wrapper,
    .info {
      width: 100%;
    }
    .parallax-wrapper {
      display: none;

      z-index: 0;
      left: 0;

      img {
        margin: 0 auto;
        max-width: 330px;

        position: absolute;
        bottom: -40%;
        left: 0;
        right: 0;
      }
    }
    .info {
      padding: 40px 0 85px;
      max-width: 460px;

      z-index: 1;
      position: relative;
    }
    h4 {
      font-size: $f30px;
      line-height: 1;
    }
    p br {
      display: none;
    }
    .app-icons {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  .application {
    .parallax-wrapper,
    .info {
      width: 50%;
    }
    .parallax-wrapper {
      left: 0;
    }
    .info {
      padding: 75px 0;
    }
    p br {
      display: none;
    }
  }
}