//Home page
.application {
  background: url("../image/app-bg.jpg") no-repeat center center;
  background-size: cover;

  // --- Application BG
  /*.parallax {
    background: url("../image/mobile-mockup.png") no-repeat center center;
    background-size: cover;
  }*/
}
