.events {
  .items {
    @extend .df;
    @extend .df-wrap;
    @extend .jc-flex-start;
    //@extend .jc-space-between;
  }

  //Default
  .item {
    border: 1px solid $light-gray;
    border-radius: $sm-radius;
    width: 32%;
    margin-bottom: 50px;
    overflow: hidden;
    transition: all $t03s-transition;

    @extend .backspace;

    &:hover {
      box-shadow: 0 10px 30px 4px $light-gray;
    }

    &:not(:nth-child(3n)) {
      margin-right: 2%;
    }
  }

  //Media
  .media {
    border-top-right-radius: $sm-radius;
    border-top-left-radius: $sm-radius;
    height: 100%;
    max-height: 225px;
    overflow: hidden;
    position: relative;

    a {
      transition: opacity $default-transition;

      @extend .link-block;
      @extend .backspace;

      &:hover {
        opacity: 0.9;
      }
    }
    img {
      z-index: 0;
      position: relative;

      //@extend .img-vertical;
      @extend .pe-none;
      @extend .centering;
    }
  }

  //Info
  .info {
    @extend .df;
    @extend .jc-space-between;
    @extend .ai-stretch;
  }
  .date,
  .name {
    padding: 20px 15px;
  }

  //Date
  .date {
    border-right: 1px solid $light-gray;
    color: $primary-color;
    font-weight: $bold;
    width: 35%;

    @extend .df-c;
    @extend .jc-center;
    @extend .ai-center;
    @extend .tc;

    span {
      @extend .db;
    }
  }
  .day {
    font-size: $f30px;
    margin-bottom: 5px;
  }
  .month {
    font-size: $f12px;
  }

  //Name
  .name {
    width: 65%;

    h2 {
      font-size: $f16px;
      font-weight: $bold;
      margin-bottom: 5px;
      width: 100%;

      @extend .dib;
      //@extend .nw;

      &:hover {
        color: $primary-color;
      }
    }
    h5 {
      font-size: $f14px;
      font-weight: $light;
    }
  }

  //Load more
  button.link {
    margin: 10px auto 60px;

    @extend .db;
  }

  //Gallery
  .icons {
    font-size: $f14px;
    font-weight: $light;

    @extend .df;

    span {
      @extend .df;
      @extend .ai-center;

      &:first-child {
        margin-right: 25px;
      }
      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        opacity: 0.25;
      }
    }
  }

  &.events-section {
    padding: 75px 0;
  }
  &.events-favorite {
    .item.favorite {
      position: relative;
    }
    .favorite-button {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}



//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .events {
    .items {
      margin-bottom: 30px;
    }
    .item {
      width: 100%;
      max-width: 350px;
      margin: 0 auto 35px;

      &:not(:nth-child(3n)) {
        margin-right: auto;
      }
    }
    .media {
      max-height: 170px;
    }
    button.link {
      margin-top: 0;
    }
    .date {
      padding: 20px 10px;
    }
    .month {
      font-size: $f10px;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  .events {
    .items {
      justify-content: space-around;
    }
    .item {
      max-width: 350px;
      width: 47%;
    }
  }
}
@media screen and (min-width: #{$screen-md-min} ) and (max-width: #{$screen-md-max} ) {
  .events {
    .media {
      max-height: 180px;
    }
    .date {
      padding: 20px 10px;
    }
  }
}