.footer {
  background: $medium-black;
  padding: 50px 0;

  .container {
    @extend .df;
  }
  .column {
    width: calc(100% / 4);
    padding-right: 25px;
  }
  h4 {
    color: $white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;

    &:after {
      content: '';
      display: block;
      background: $light-black;
      width: 40px;
      height: 1px;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .info {
    color: $medium-gray;
  }
  span, a {
    margin-bottom: 5px;

    @extend .db;
  }
  a {
    &:hover {
      color: $primary-color;
    }
    &:not(.mail) {
      text-decoration: underline;
    }
  }
  .work-time {
    line-height: 1.25;
  }

  //Subscribe form
  .subscribe-form {
    width: 25%;
  }
  form {
    border: 1px solid $medium-gray;
    border-radius: $default-radius;
    max-width: 365px;
    overflow: hidden;
    transition: all $default-transition;

    @extend .df;
    @extend .ai-center;

    input {
      color: $medium-gray;
      width: 100%;
      height: 100%;
      padding: 5px 10px;
    }
    button {
      background: #5a5a5a;
      width: 36px;
      height: 36px;
      position: relative;

      svg {
        margin: 0 auto;
        width: 50%;

        @extend .centering;
      }
    }

    //Class change
    &.success {
      border: 1px solid $success;

      button {
        background: $success;
      }
    }
    &.error {
      border: 1px solid $error;

      button {
        background: $error;
      }
    }
  }
  form,
  .store-icons {
    margin-top: 15px;
  }

  //Store icons
  .store-icons {
    a {
      &:first-child {
        margin-bottom: 5px;
      }
      img {
        max-width: 100px;
        transition: opacity $default-transition;

        @extend .pe-none;
      }
      &:hover img {
        opacity: 0.75;
      }
    }
  }
}

.copy-lab {
  background: rgba($black, 0.95);
  color: $medium-gray;
  padding: $container-padding 0;

  .container {
    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;

    a {
      text-decoration: underline;
    }
  }
}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-zero-max} ) {
  .footer {
    .info {
      font-size: $f12px;
    }
  }
}
@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .footer {
    .column {
      padding: 0 20px 25px 0;

      &:not(.subscribe-form) {
        width: 50%;
      }
      &:nth-child(4) {
        width: 100%;
      }
    }
    span, a {
      margin-bottom: 10px;
    }

    //Subscribe form
    .subscribe-form {
      width: 100%;
    }

    .store-icons {
      display: flex;

      a:first-child {
        margin-right: 25px;
      }
    }
  }

  .copy-lab {
    .container {
      flex-direction: column;
    }
    .copy {
      margin-bottom: 15px;
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-xs-max} ) {
  .footer {
    .column {
      padding-left: 8%;
    }
  }
}
@media screen and (min-width: 0) and (max-width: #{$screen-sm-max} ) {
  .footer {
    .container {
      flex-wrap: wrap;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  .footer {
    .column:not(.subscribe-form) {
      width: 20%;
    }

    //Subscribe form
    .subscribe-form {
      width: 40%;
      //margin-top: 25px;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-md-max} ) {
  .footer {
    .info {
      font-size: $f14px;
    }
  }
}