.header {
  width: 100%;
  height: 100%;
  max-height: 52px;
  transition: all $default-transition;

  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .container {
    @extend .df;
    @extend .jc-space-between;
    @extend .ai-stretch;
  }
  li {
    position: relative;

    & > a,
    & > button {
      height: 100%;
      padding: 20px 0;
      position: relative;
      transition: all $default-transition;

      @extend .df;
      @extend .ai-center;
    }
    &.special {
      color: $primary-color;
    }
    &.active a:before {
      content: '';
      display: block;
      background: $secondary-color;
      width: 100%;
      height: 2px;

      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  ul {
    height: 100%;

    @extend .df;
  }
  .logo,
  .toolbar {
    width: 100%;
    max-width: 20%;

    @extend .df;
    @extend .ai-center;
  }

  //Logo
  .logo {
    a {
      max-width: 200px;

      @extend .link-block;
    }
  }

  //Menu
  .menu {
    //flex-grow: 1;
    color: $white;
    font-size: $f16px;
    font-weight: $medium;
    transition: color $default-transition;

    @extend .backspace;

    li {
      padding: 0 25px;
    }
  }

  //Toolbar
  .toolbar {
    max-width: 40px;
    position: relative;
    //margin-left: 5%;

    li {
      padding-left: 20px;

      svg {
        width: 30px;
        height: 30px;
      }
      svg + span {
        display: none;
      }
    }
    .user-toggle {
      width: 35px;
      height: 35px;
    }

    &.user-login-active {
      position: relative;

      @extend .df;
      @extend .jc-center;

      &:after {
        content: '';
        display: block;
        background: $secondary-color;
        width: calc(100% + 14px);
        height: 2px;

        position: absolute;
        bottom: 0;
        left: -7px;
        right: -7px;
      }
    }
  }
  //Toolbar - User panel | Cart panel
  .user-panel,
  .cart-panel {
    background: $white;
    border-radius: $default-radius;
    box-shadow: 1px 5px 30px 3px rgba($black, 0.15);
    font-weight: $medium;
    width: 325px;
    transition: all $default-transition;
    opacity: 0;

    z-index: 300;
    position: absolute;
    top: calc(100% + 20px);
    right: -40px;

    @extend .pe-none;

    &.active {
      opacity: 1;

      @extend .pe-auto;
    }
    &:before {
      content: '';
      display: block;

      border-style: solid;
      border-width: 0 10px 20px 10px;
      border-color: transparent transparent #ffffff transparent;
      width: 0;
      height: 0;

      position: absolute;
      top: -18px;
      right: 52px;
    }
    .item,
    .order {
      padding: 15px;
    }
    .item {
      @extend .df;
      @extend .ai-center;

      &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
      }
      h3 {
        font-size: $f12px;
      }
      a {
        padding: 0;
        position: relative;

        @extend .db;

        &:hover {
          color: $primary-color;
        }
      }
      .media,
      .price {
        width: 20%;
      }
      .name {
        width: 50%;
      }
      .media,
      .name,
      .price {
        margin-right: 15px;
      }
      .media {
        a {
          border-radius: 50%;
          width: 50px;
          height: 50px;
          overflow: hidden;
        }
        img {
          height: 100%;
          width: auto;
          max-width: none;
        }
      }
      .price {
        //font-size: $f14px;
      }
      .media, button {
        transition: opacity $default-transition;

        @extend .backspace;

        &:hover {
          opacity: 0.75;
        }
      }
      button {
        max-width: 12px;
        padding: 0;
      }
    }
    .order {
      @extend .tc;

      .link {
        padding: 12px 55px;
        margin-bottom: 5px;
      }
      .total {
        margin-bottom: 20px;

        @extend .up;
      }
    }
  }
  .user-panel {
    padding: 30px 20px;
    //min-height: 285px;

    @extend .tc;

    form > div {
      @extend .df-c;
      @extend .jc-center;
      @extend .ai-center;

      & > *:not(:last-child) {
        margin-bottom: 20px;
      }

      ::-webkit-input-placeholder {color:$default-color; font-weight: $medium;}
      ::-moz-placeholder          {color:$default-color; font-weight: $medium;}
      :-moz-placeholder           {color:$default-color; font-weight: $medium;}
      :-ms-input-placeholder      {color:$default-color; font-weight: $medium;}

    }
    fieldset {
      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
      ::-webkit-input-placeholder,
      ::-moz-placeholder,
      :-moz-placeholder,
      :-ms-input-placeholder {
        -webkit-text-fill-color: inherit!important;
      }
    }
    input {
      border: 1px solid $light-gray;
      border-radius: $default-radius;
      font-weight: $medium;
      width: 100%;
      padding: 15px 0;

      @extend .tc;
    }
    .link.link-inverse {
      /*font-weight: bold;
      text-transform: none;*/
      max-width: 225px;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .new-register {
      margin-bottom: 10px;
    }
    .password-restore {
      font-size: $f14px;
    }
    .new-register,
    .password-restore,
    .resend-confirm-code {
      transition: all $default-transition;
      text-decoration: underline;

      &:hover {
        color: $primary-color;
      }
    }
  }


  //On scroll | Inverse
  &.on-scroll,
  &.inverse {
    background: $white;
    box-shadow: 0 1px 20px -6px $dark-gray;
    max-height: 52px;

    //Menu
    .menu {
      color: $default-color;
    }

    //Toolbar - Cart panel
    .cart-panel {
      top: calc(100% + 12px);
    }

    //Empty space after bar
    & + section,
    & + div {
      margin-top: 52px;
    }

  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-sm-max} ) {
  .header {
    background: $primary-color;
    border: none;
    height: $header-height;
    max-height: none;

    .container {
      justify-content: space-between;
    }
    .menu-toggle,
    .toolbar {
      width: 20vw;
    }
    .menu,
    .cart-panel {
      z-index: 500;
    }

    //Menu toggle
    .menu-toggle {
      order: 1;
    }

    //Logo
    .logo {
      order: 2;

      width: 60%;
      max-width: none;
      margin: 0 auto;

      a {
        max-width: 325px;
        margin: 0 auto;
        padding: 0 10%;
      }
    }

    //Menu
    .menu {
      background: $white;
      color: $default-color;
      font-size: $f16px;
      height: 100vh;
      width: 90%;
      max-width: 320px;
      transition: all $default-transition;
      will-change: transform;
      transform: translateX(-100%);
      opacity: 0;
      pointer-events: none;

      position: absolute;
      top: 100%;
      left: 0;

      &.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
      }
      ul {
        flex-direction: column;
      }
      li {
        border-bottom: 1px solid $light-gray;
        padding: 0 50px;

        &:first-child {
          border-top: 1px solid $light-gray;
        }
        &.active {
          background: $thin-gray;

          & a:before {
            display: none;
          }
        }
      }
      a, button {
        padding: 20px 0;
      }
    }
    //Menu toggle
    .menu-toggle {
      & > span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: $header-height;
      }
      span.item {
        background: $white;
        width: 25px;
        height: 2px;
        transition: all $default-transition;

        &:nth-child(2) {
          margin: 5px 0;
        }
      }
      &.active {
        .top {
          transform: translateY(8px) translateX(0) rotate(45deg); //2vw
        }
        .middle {
          opacity: 0;
        }
        .bottom {
          transform: translateY(-6px) translateX(0) rotate(-45deg); //-2vw
        }
      }
    }

    //Toolbar
    .toolbar {
      order: 3;
      justify-content: flex-end;

      max-width: none;

      &.user-login-active {
        justify-content: flex-end;

        &:after {
          width: 35px;
          left: auto;
          right: 0;
        }
      }
      ul, li {
        width: 100%;
      }
      li {
        display: flex;
        justify-content: flex-end;
        padding: 0;

        button {
          justify-content: flex-end;
          width: 100%;
          padding: 0;
        }
      }
    }
    //Toolbar - Cart panel
    .user-panel,
    .cart-panel {
      width: 300px;

      right: -10px;

      &:before {
        right: 12px;
      }
    }
    .user-panel {
      button.link-icon.go-back {
        width: 42px;
      }
    }

    //Close panel
    .close-panel {
      background: $black;
      width: 100%;
      height: 100%;
      transition: opacity $default-transition;
      opacity: 0;
      pointer-events: none;

      z-index: 300;
      position: fixed;
      top: $header-height;
      right: 0;
      left: 0;
      bottom: 0;

      &.active {
        opacity: 0.75;
        pointer-events: auto;
      }
    }

    //User area | Toggles
    .user-sm,
    .menu-toggle {
      display: block !important;
    }
    .user-lg {
      display: none !important;
    }

    //On scroll | Inverse
    &.on-scroll,
    &.inverse {
      max-height: none;

      .menu-toggle {
        span.item {
          background: $default-color;
        }
      }

      //Empty space after bar
      & + section,
      & + div {
        margin-top: $header-height;
      }
    }
  }
}
@media screen and (min-width: #{$screen-md-min} ) {
  .header {
    //User area | Toggles
    .user-sm,
    .menu-toggle,
    .close-panel {
      display: none !important;
    }
  }
}
@media screen and (min-width: #{$screen-md-min} ) and (max-width: #{$screen-md-max} ) {
  .header {
    .logo {
      margin-right: 0;
    }
    .menu {
      font-size: $f14px;

      ul {
        justify-content: center;
      }
      li {
        padding: 0 22px;
      }
    }
  }
}