.section-head {
  h1, h2, h3 {
    font-size: $f24px;
    padding: 55px 0;

    @extend .tc;
  }
}

//Events monthly
.section-headline {
  .head {
    margin-bottom: 50px;
    position: relative;

    @extend .df;
    @extend .jc-center;
    @extend .ai-center;
  }
  h3 {
    background: $white;
    border: 1px solid $gray;
    border-radius: $default-radius;
    font-size: $f14px;
    padding: 10px 70px;
  }
  .line {
    background: $gray;
    width: 100%;
    height: 1px;
    z-index: -1;

    @extend .centering;
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-zero-max} ) {
  .section-head {
    h1, h2, h3 {
      padding: 30px 0;
    }
  }
}