.stars {
  @extend .df;

  span {
    background: url("../icons/star.svg") no-repeat center center;
    background-size: contain;
    width: 15px;
    height: 15px;

    @extend .db;

    &.in-active-gray {
      background-image: url("../icons/star-gray.svg");
    }
    &.active {
      background-image: url("../icons/star-a.svg");
    }
    &.active-half {
      background-image: url("../icons/star-a-h.svg");
    }
  }
  a:not(:last-child),
  span:not(:last-child) {
    margin-right: 7px;
  }
}