html {
  height: 100%;
  overflow-y: scroll;

  @extend .box-sizing;
}
body {
  height: 100%;
  padding: 0 !important;
  position: relative;

  @extend .df-c;
}
*:not(img) {
  outline: none;

  margin: 0;
  padding: 0;

  @extend .box-sizing;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}
section {
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
}
svg {
  width: inherit; //100%
  height: inherit; //100%
  transition: all $default-transition;
}
img, object, embed {
  max-width: 100%;
}
a,
a:hover,
a:active,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
  transition: color $default-transition;
}
a:hover {
  color: $primary-color;
}
fieldset {
  border: none;
}
input,
input[type="search"],
textarea,
button {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all $default-transition;
}