//Base
.container {
  width: 100%;
  max-width: $container-max;
  height: inherit;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  //@include clearfix;
}
.centering {
  transform: translate(-50%, -50%);

  position: absolute;
  top: 50%;
  left: 50%;
}
.box-sizing {
  box-sizing: border-box;
}
.backspace {
  backface-visibility: hidden;
}
.link-block {
  display: block;
  width: 100%;
  height: 100%;
}
.img-vertical {
  height: 100%;
  width: auto;
  max-width: none;
}
.nw {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vp  {
  padding-bottom: 56.25%;
  height: 0;
  position: relative;
}
.vp iframe,
.vp img {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.sf {
  flex: 1;
}
.us-none {
  user-select: none;
}
.pe-none {
  pointer-events: none;
}
.pe-auto {
  pointer-events: auto;
}
.cb {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.up {
  text-transform: uppercase;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}

//Display
.dn {
  display: none !important;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
  vertical-align: top;
}
.df {
  display: flex;
}
.df-c {
  display: flex;
  flex-direction: column;
}
.dif {
  display: inline-flex;
}
.dif-c {
  display: inline-flex;
  flex-direction: column;
}
.df-wrap {
  flex-wrap: wrap;
}
.jc-center {
  justify-content: center;
}
.jc-space-around {
  justify-content: space-around;
}
.jc-space-between {
  justify-content: space-between;
}
.jc-flex-start {
  justify-content: flex-start;
}
.jc-flex-end {
  justify-content: flex-end;
}
.jc-stretch {
  justify-content: stretch;
}
.ai-flex-start {
  align-items: flex-start;
}
.ai-baseline {
  align-items: baseline;
}
.ai-center {
  align-items: center;
}
.ai-flex-end {
  align-items: flex-end;
}
.ai-stretch {
  align-items: stretch;
}
.ac-flex-start {
  align-content: flex-start;
}

//Responsive
@media screen and (min-width: 0px) and (max-width: #{$screen-sm-max} ) {
  .container {
    padding: 0 $container-padding;
  }
}
