//SVG spite
svg.svg-sprite {
  @extend .dn;
}

//Logo
.svg-logo {
  fill: $white;

  &:hover {
    fill: $primary-color;
  }
}

//User
.svg-user,
.svg-basket {
  fill: $white;

  &:hover {
    fill: $primary-color;
  }
}

//On scroll | Inverse
.header.on-scroll,
.header.inverse {
  .svg-logo {
    fill: $primary-color;
  }
  .svg-user,
  .svg-basket {
    fill: $default-color;

    &:hover {
      fill: $primary-color;
    }
  }
}

//Subscribe form (footer)
.svg-sub-check,
.svg-sub-error {
  opacity: 0;
  fill: $white;
}
.svg-sub-arrow {
  fill: #acacac;
}
.footer {
  form {
    //Class change
    &.success {
      .svg-sub-arrow {
        opacity: 0;
      }
      .svg-sub-check {
        opacity: 1;
      }
    }
    &.error {
      .svg-sub-arrow {
        opacity: 0;
      }
      .svg-sub-error {
        opacity: 1;
      }
    }
  }
}

//Back to top
.svg-top-arrow {
  fill: $white;
}

//Products
a.link-icon,
button.link-icon {
  .svg-icon {
    fill: $white;
  }
  &:hover .svg-icon {
    fill: $primary-color;
  }

  &.link-icon-s:hover {
    .svg-icon {
      fill: $secondary-color;
    }
  }
}

//Alerts
form .alerts {
  //Success
  .svg-form-success {
    fill: $success;
  }

  //Error
  .svg-form-error {
    fill: $error;
  }
}

//Contacts
.contacts-section {
  .panel {
    svg {
      fill: $white;
    }

    &:hover {
      svg {
        fill: $primary-color;
      }
    }
  }
}

//Account | Profile
.acc-profile {
  svg {
    fill: $dark-gray;
  }

  //Edit
  .edit:hover svg {
    fill: $success;
  }

  //Apply
  .apply svg {
    fill: $success;
  }

  //Cancel
  .cancel svg {
    fill: $primary-color;
  }
}

//Account | Notifications
.acc-notifications {
  div.link-icon {
    svg {
      fill: $white;
    }
  }
}

//Tags
.tag-button {
  .svg-tag-in {
    fill: #cccccc;
  }
  .svg-tag-a {
    fill: $secondary-color;
  }

  &:hover {
    .svg-tag-in {
      fill: $secondary-color;
    }
  }
  &.active:hover {
    .svg-tag-a {
      fill: lighten($secondary-color, 10%);
    }
  }
}

//Angle
.tags-slider,
.sponsors,
.pagination {
  .swiper-button-prev,
  .swiper-button-next,
  .pagination-controls,
  .pagination-items {
    .svg-angle {
      fill: $gray;
    }

    &:hover .svg-angle {
      fill: $secondary-color;
    }
  }
}

//Share
.share-wrapper {
  svg {
    fill: $dark-gray;
  }
}

//Modal
.modal-tickets-details {
  .logo {
    svg,
    &:hover svg {
      fill: $primary-color;
    }
  }
}

//Tag drop
.tags-drop-button {
  svg {
    fill: $secondary-color;
  }
  &:hover svg {
    fill: lighten($secondary-color, 10%);
  }
}

//Responsive
@media screen and (min-width: 0) and (max-width: #{$screen-sm-max} ) {
  .header {
    .svg-user,
    .svg-basket {
      &:hover {
        fill: $white;
      }
    }
  }
}