//Global
html {
  font-family: $default-font;
  font-size: 100%;
  font-weight: normal;
}
body {
  color: $default-color;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
p, span {
  font-family: $default-font;
  line-height: 1;
}
h2 {
  font-size: $f45px;
}
h3, h4 {
  font-weight: $regular;
}
h4 {
  font-size: $f18px;
}
//Responsive
