.cart-section {
  .items {
    border: 1px solid $light-gray;
    border-radius: $default-radius;
  }
  .item {
    padding: 30px;

    @extend .df;
    @extend .jc-space-between;
    @extend .ai-center;

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }
  }

  //Media
  .media {
    width: 15%;

    a {
      border-radius: 50%;
      width: 105px;
      height: 105px;
      overflow: hidden;
      transition: opacity $default-transition;
      position: relative;

      @extend .db;

      &:hover {
        opacity: 0.75;
      }
    }
    img {
      height: 100%;
      width: auto;
      max-width: none;

      @extend .centering;
    }
  }

  //Name
  .name {
    width: 35%;

    h3 {
      font-size: $f16px;
      font-weight: $medium;
      margin-bottom: 10px;
    }
  }
  .weight {
    border-top: 1px solid $light-gray;
    font-size: $f14px;
    padding-top: 10px;

    @extend .dib;
  }

  //Couple
  .total,
  .remove {
    width: 15%;

    @extend .tc;
  }


  //Counters
  .items-counter {
    width: 20%;
    margin: 0;

    @extend .df;
    @extend .jc-center;
  }

  //Total
  .total {
    font-weight: $medium;

    span {
      @extend .db;

      &:nth-child(1) {
        font-size: $f24px;
      }
      &:nth-child(2) {
        font-size: $f16px;
      }
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-zero-max} ) {
  .cart-section {
    .items {
      max-width: 400px;
    }
    .media {
      display: none;
    }
    .name {
      width: 90%;
      margin-bottom: 20px;
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-xs-max} ) {
  .cart-section {
    .items {
      max-width: 500px;
    }
    .media a {
      width: 60px;
      height: 60px;
    }
    .name {
      width: 78%;
      margin-bottom: 0;
    }
    .items-counter,
    .total {
      margin-top: 25px;
    }
  }
}
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .cart-section {
    .items {
      margin: 0 auto;
    }
    .item {
      flex-wrap: wrap;
      padding: 25px;
      position: relative;
    }
    .remove {
      position: absolute;
      top: 5px;
      right: 5px;

      button {
        width: 25px;
        height: 25px;

        svg {
          width: 40%;
        }
      }
    }

    //Couple
    .items-counter,
    .total,
    .remove {
      width: auto;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  .cart-section {
    .media a {
      width: 70px;
      height: 70px;
    }
    .name {
      margin-right: 5%;
    }
    .items-counter {
      width: 25%;
    }
    .total, .remove {
      width: 10%;
    }
  }
}