.checkout-section {
  padding: 75px 0;

  &.active {
    .right {
      color: $primary-color;
    }
  }
  .wrapper {
    max-width: 420px;
    margin: 0 auto;

    @extend .df-c;
  }
  .split {
    margin-bottom: 65px;

    @extend .df;
    @extend .jc-space-around;
  }
  .left, .right {
    width: 48%;
  }
  .left {
    span:first-child {
      margin-bottom: 5px;
    }
  }
  .right {
    font-weight: $medium;

    @extend .tc;

    span:first-child {
      font-size: $f24px;
    }
  }
  .head {
    margin-bottom: 30px;
  }
  span {
    @extend .db;
  }

}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .checkout-section {
    padding: 60px 0;

    .wrapper {
      align-items: flex-start;
      max-width: 350px;
    }
    .split {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .left, .right {
      width: 100%;
    }
    .left {
      margin-bottom: 30px;

      .head {
        margin-bottom: 15px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      text-align: left;

      .head {
        margin: 0 10px 0 0;
      }
      .total {
        display: flex;
        align-items: center;

        span:first-child {
          margin-right: 5px;
        }
      }
    }
  }
}