.about {
  padding-bottom: 45px;

  .wrapper {
    @extend .df;
    @extend .jc-space-between;

    &:not(:last-child) {
      margin-bottom: 65px;
    }
    & > div {
      width: 47%;
    }

    //Info
    h2, p {
      margin-bottom: 30px;
    }
    h2 {
      font-size: $f20px;
    }
    p {
      line-height: 1.25;
    }


    //Feedback
    .feedback {
      @extend .df;
      @extend .ai-center;
      @extend .jc-space-between;

      .info {
        font-weight: $medium;
      }
    }

    //Pagination
    .swiper-pagination {
      bottom: 20px;
      left: 0;
      right: 0;

      .swiper-pagination-bullet {
        background: $white;
        width: 13px;
        height: 13px;
        margin: 0 8px;
        opacity: 1;
        transition: all $default-transition;

        &:not(.swiper-pagination-bullet-active):hover {
          background: lighten( $primary-color, 10% );
        }
      }
      .swiper-pagination-bullet-active {
        background: $primary-color;
      }
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .about {
    padding-bottom: 0;

    .wrapper {
      flex-wrap: wrap;
      max-width: 400px;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 45px;
      }
      & > div {
        width: 100%;

        &:first-child {
          margin-bottom: 40px;
        }
      }
      &.media-info {
        .left {
          order: 2;
        }
        .right {
          order: 1;

          margin-bottom: 40px;
        }
      }

      h2, p {
        margin-bottom: 15px;
      }
      h2 {
        font-size: $f18px;
      }
    }
    .feedback {
      flex-wrap: wrap;

      .info {
        margin-bottom: 15px;
      }
      button, a {
        margin: 0;
      }
    }
  }
}
@media screen and (min-width: 493px) and (max-width: #{$screen-xs-max} ) {
  .about {
    .feedback {
      .info {
        margin: 0;
      }
      a, button {
        max-width: 185px;
      }
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-xs-max} ) {
  .about {
    .wrapper {
      max-width: 550px;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  .about {
    .feedback {
      flex-wrap: wrap;

      .info {
        margin-bottom: 15px;
      }
      button, a {
        margin: 0;
      }
    }
  }
}