.advantages {
  padding-bottom: 115px;

  .container {
    @extend .tc;
  }
  .items {
    margin-bottom: 75px;

    @extend .df;
    @extend .jc-space-between;
  }
  .item {
    font-size: $f16px;
    width: 20%;
    position: relative;

    &:last-child {
      .bullet:after {
        display: none;
      }
    }
  }
  a.link, button.link {
    max-width: 250px;
  }
  h4 {
    font-weight: $medium;
  }
  p {
    line-height: 1.15;
  }
  .bullet {
    background: $primary-color;
    border-radius: 50%;
    box-shadow: 2px 3px 8px 0 rgba($black,0.25);
    color: $white;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 0 auto;

    svg {
      fill: $white;
      width: 55%;
    }

    &:after {
      content: '';
      display: block;
      background: $gray;
      height: 1px;
      width: 135%;
      max-width: 300px;

      z-index: -1;
      position: absolute;
      top: 65px;
      left: 50%;
    }

  }
  h4, .bullet {
    margin-bottom: 25px;
  }
}

//Responsive
@media screen and (min-width: #{$screen-zero} ) and (max-width: #{$screen-xs-max} ) {
  .advantages {
    padding-bottom: 60px;

    .items {
      flex-wrap: wrap;
      max-width: 400px;
      margin: 0 auto 50px;
    }
    .item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    h4, .bullet {
      margin-bottom: 15px;
    }
    .bullet:after {
      display: none;
    }
  }
}
@media screen and (min-width: #{$screen-xs-min} ) and (max-width: #{$screen-xs-max} ) {
  .advantages {
    .items {
      max-width: 550px;
    }
    .item {
      width: 47%;
    }
  }
}
@media screen and (min-width: #{$screen-sm-min} ) and (max-width: #{$screen-sm-max} ) {
  .advantages {
    .item {
      width: 22%;
    }
    h4 {
      font-size: $f16px;
    }
    p {
      font-size: $f14px;
    }
    .bullet:after {
      width: 129%;

      top: 63px;
    }
  }
}